@model ViewModel.Model.TrainingViewModel

@{
    ViewData["Title"] = "Apply";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Training</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Services</a></li>
                    <li class="breadcrumb-item active">Apply</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group" id="select">
                            <label>Select Training Type <span class="text-danger">*</span></label>
                            <select class="select" id="selecttype" onchange="ShowScheduledDiv()">
                                <option value="" >Select Type</option>
                                <option value="1">Schedule Training</option>
                                <option value="2">Unscheduled Training</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" hidden id="showscheduleddivid">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    @foreach (var item in Model.TrainingNomination)
                    {
                        <div class="row staff-grid-row">
                            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                                <div class="profile-widget">
                                    <div class="dropdown profile-action">
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                    <input class="form-control" value="@item.Id" type="text" id="scheduledtopicid" hidden>
                                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="client-profile.html">@item.TrainingCalender.Topic.Title</a></h4>
                                    <h5 class="user-name m-t-10 mb-0 text-ellipsis"><a href="client-profile.html">@item.TrainingCalender.TrainingYear</a></h5>
                                    <div class="small text-muted">@item.TrainingCalender.StartDate?.ToString("dd MMMM yyyy") - @item.TrainingCalender.EndDate?.ToString("dd MMMM yyyy")</div>
                                    <div class="small text-muted">Venue: @item.TrainingCalender.Venue - Room ID: @item.TrainingCalender.TrainingRoomID</div>
                                    @*<a href="#" class="btn btn-white btn-sm m-t-10">View</a>*@
                                    @if (!item.IsApplied)
                                    {
                                        <a class="btn btn-white btn-sm m-t-10" onclick="SubmitScheduledTopic()">Apply</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-white btn-sm m-t-10">Applied</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row" hidden id="showunscheduleddivid">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group" id="unschedulediv">
                            <label>Unscheduled Training Topic <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" id="unscheduledtopicid">
                        </div>
                        <div class="form-group">
                            <label>Training Year <span class="text-danger">*</span></label>
                            <div class="cal-icon"><input class="form-control" type="text" id="trainingyearun"></div>
                        </div>
                        <div class="form-group">
                            <label>Start Date<span class="text-danger">*</span></label>
                            <div class="cal-icon"><input class="form-control datetimepicker" type="text" id="startdateun"></div>
                        </div>
                        <div class="form-group">
                            <label>End Date<span class="text-danger">*</span></label>
                            <div class="cal-icon"><input class="form-control datetimepicker" type="text" id="enddateun"></div>
                        </div>
                        <div class="form-group">
                            <label>Other Details <span class="text-danger">*</span></label>
                            <textarea rows="5" class="form-control" placeholder="Enter your other details here" id="otherdetailsun"></textarea>
                        </div>
                        <div class="submit-section" id="unschedulesubmitdiv" onclick="SubmitUnScheduledTopic()">
                            <button class="btn btn-primary submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

@section Scripts{
    <script type="text/javascript">
        function ShowScheduledDiv() {
            if ($("#selecttype").val() == "1") {
                document.getElementById('showscheduleddivid').removeAttribute("hidden");
                document.getElementById('showunscheduleddivid').setAttribute("hidden", true);
            }
            else {
                console.log("I just no wan work");
                document.getElementById('showunscheduleddivid').removeAttribute("hidden");
                document.getElementById('showscheduleddivid').setAttribute("hidden", true);
            }
        }

        function SubmitScheduledTopic() {
            var scheduledtopic = $("#scheduledtopicid").val();
            ApplyTraining(scheduledtopic, true);
        }

        function SubmitUnScheduledTopic() {
            var unscheduledtopic = $("#unscheduledtopicid").val();
            var trainingyear = $("#trainingyearun").val();
            var startdate = $("#startdateun").val();
            var enddate = $("#enddateun").val();
            var otherdetails = $("#otherdetailsun").val();
            ApplyTraining( null, false, unscheduledtopic, trainingyear, startdate, enddate, otherdetails);
        }

        function ApplyTraining(nominationId, isSchedule, trainingTopic, year, startDate, endDate, otherDetails) {
            $.ajax({
                url: '@Url.Action("ApplyTraining", "Training")',
                type: 'POST',
                dataType: 'json',
                data: { nominationId: nominationId, isSchedule: isSchedule, trainingTopic: trainingTopic, year: year, startDate: startDate, endDate: endDate, otherDetails: otherDetails},
                success: function (response) {
                    if (response.status) {
                        toastr.success(response ?.message)
                        location.reload();
                    }
                    else {
                        toastr.error(response ?.message)
                    }
                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }
    </script>
}
