@model ViewModel.Model.LeaveViewModel

@{
    ViewData["Title"] = "Leave";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Leave</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Services</a></li>
                    <li class="breadcrumb-item active">Leave</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                @if (Model.Eligiblity.IsLeaveEligible)
                {
                    <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_leave"><i class="fa fa-plus"></i> Add Leave</a>
                }
                @if (Model.Eligiblity.IsRecallEligible)
                {
                    <a href="#" class="btn add-btn" data-toggle="modal" data-target="#recall_leave"><i class="fa fa-plus"></i> Recall Leave</a>
                }
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <!-- Leave Statistics -->
    <div class="row">
        @foreach (var item in Model.LeaveType.Where(x => x.GradeLevelId == Model.Employee.GradeLevelId))
        {
            <div class="col-md-3">
                <div class="stats-info">
                    <h6>@item.Class Leave</h6>
                    <h4>@item.AvailableDays</h4>
                </div>
            </div>
        }
    </div>
    <!-- /Leave Statistics -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>Leave Type</th>
                            <th>From</th>
                            <th>To</th>
                            <th>No of Days</th>
                            <th>Resumption Date</th>
                            <th class="text-center">Leave Status</th>
                            <th class="text-center">Approval Status</th>
                            <th>Last Proccessed By</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LeaveTaken)
                        {
                            <tr>
                                <td>@item.LeaveType.Class</td>
                                <td>@item.DateFrom.ToString("dd MMMM yyyy")</td>
                                <td>@item.DateTo.ToString("dd MMMM yyyy")</td>
                                <td>@item.NoOfDays days</td>
                                <td>@item.ResumptionDate?.ToString("dd MMMM yyyy")</td>
                                <td class="text-center">
                                    <div class="action-label">
                                        <a class="btn btn-white btn-sm btn-rounded" href="javascript:void(0);">
                                            <i class="fa fa-dot-circle-o text-purple"></i> @item.LeaveStatus
                                        </a>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="action-label">
                                        <a class="btn btn-white btn-sm btn-rounded" href="javascript:void(0);">
                                            <i class="fa fa-dot-circle-o text-purple"></i> @item.Status
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html" class="avatar avatar-xs"><img src="~/img/user.jpg" alt=""></a>
                                        <a href="#">@item.LastProccessedBy</a>
                                    </h2>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_leave"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_approve"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<!-- Add Leave Modal -->
<div id="add_leave" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Leave</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Leave Type <span class="text-danger">*</span></label>
                        <select class="select" id="leavetypeid">
                            <option>Select Leave Type</option>
                            @foreach (var item in Model.LeaveType.Where(x => x.GradeLevelId == Model.Employee.GradeLevelId))
                            {
                                <option value="@item.Id">@item.Class Leave  - @item.AvailableDays days</option>
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label>From <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text" id="datefrom">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Number of days <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" id="noofdays">
                    </div>
                    <div class="form-group" id="datetodiv" hidden>
                        <label>To <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" readonly type="text" id="dateto">
                        </div>
                    </div>
                    <div class="form-group" id="resumptiondatediv" hidden>
                        <label>Resumption Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" readonly type="text" id="resumptiondate">
                        </div>
                    </div>
                    <div class="form-group" id="remainingdaysdiv" hidden>
                        <label>Remaining Leave Days <span class="text-danger">*</span></label>
                        <input class="form-control" readonly type="text" id="remainingdays">
                    </div>
                    <div class="checkbox" id="allowancecheck" hidden>
                        <label>
                            <input type="checkbox" name="checkbox" id="isallowanceadded"> Request Leave Allowance
                        </label>
                    </div>
                    <div class="submit-section" onclick="RunLeaveValidation()" id="validateleave">
                        <div class="btn btn-primary submit-btn">Validate</div>
                    </div>
                    <div class="submit-section" onclick="SubmitLeaveApplication()" id="submitleave" hidden>
                        <div class="btn btn-primary submit-btn">Apply for Leave</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Leave Modal -->

<!-- Recall Leave Modal -->
<div id="recall_leave" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recall Leave</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Leave To Recall <span class="text-danger">*</span></label>
                        <select class="select" id="selectedleave" onchange="OnLeaveSelect()">
                            <option>Select Leave To Recall</option>
                            @foreach (var item in Model.LeaveTaken.Where(x => x.CreatedDate.Year == DateTime.Now.Year || x.CreatedDate.Year == DateTime.Now.AddYears(-1).Year))
                            {
                                <option value="@item.Id">@item.LeaveType.Class Leave: @item.DateFrom.ToString("dd MMMM yyyy") to @item.DateTo.ToString("dd MMMM yyyy")</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Leave Type <span class="text-danger">*</span></label>
                        <div>
                            <input class="form-control" type="text" readonly id="recallleavetype">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Recall Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" id="recalldate" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>From <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" id="recalldatefrom" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Number of days <span class="text-danger">*</span></label>
                        <input class="form-control" id="recallnoofdays" type="text">
                    </div>
                    <div class="form-group" id="recalldatetodiv" hidden>
                        <label>To <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" id="recalldateto" readonly type="text">
                        </div>
                    </div>
                    <div class="form-group" id="recallresumptiondatediv" hidden>
                        <label>Resumption Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" id="recallresumptiondate" readonly type="text">
                        </div>
                    </div>
                    <div class="form-group" hidden id="remainingrecalldaysdiv">
                        <label>Remaining Leave Days <span class="text-danger">*</span></label>
                        <input class="form-control"  id="remainingrecalldays" readonly type="text">
                    </div>
                    <div class="submit-section" onclick="RunRecallLeaveValidation()" id="validaterecallleave">
                        <div class="btn btn-primary submit-btn">Validate</div>
                    </div>
                    <div class="submit-section" hidden id="submitrecallleave" onclick="SubmitRecallLeaveApplication()">
                        <div class="btn btn-primary submit-btn">Recall leave</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Recall Leave Modal -->
<!-- Delete Leave Modal -->
<div class="modal custom-modal fade" id="delete_approve" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Leave</h3>
                    <p>Are you sure want to Cancel this leave?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Leave Modal -->

@section Scripts{
    <script type="text/javascript">
        var leavetypeid;
        var datefrom;
        var dateto;
        var noofdays;
        var remainingdays;
        var resumptiondate;
        var isallowanceadded;

        var query = JSON.parse('@Json.Serialize(@Model.LeaveType)');
        var queryLeave = JSON.parse('@Json.Serialize(@Model.LeaveTaken)');

        var redirectUrl = '@Url.Action("Index","Leave")';

        function OnLeaveSelect() {
            var selectedleave = $("#selectedleave").val();
            var leaveSelected = queryLeave.find(x => x.id == selectedleave);
            $("#recallleavetype").val(leaveSelected.leaveType.class);
        }

        function OnDaysEntered() {
            datefrom = $("#datefrom").val();
            noofdays = $("#noofdays").val();
            leavetypeid = $("#leavetypeid").val();
            var leavetype = query.find(x => x.id == leavetypeid);

            if (leavetype.availableDays > 0) {
                var count = 0;
                datefrom = stringToDate(datefrom);

                while (count < noofdays) {
                    dateto = new Date(datefrom.setDate(datefrom.getDate() + 1));
                    if (datefrom.getDay() != 0 && datefrom.getDay() != 6) {
                        //Date.getDay() gives weekday starting from 0(Sunday) to 6(Saturday)
                        count++;
                    }
                }

                remainingdays = leavetype.availableDays - parseInt(noofdays);
                resumptiondate = getNextBusinessDay(dateto);

                $("#dateto").val(dateToString(dateto));
                $("#resumptiondate").val(dateToString(resumptiondate));
                $("#remainingdays").val(remainingdays);
            }
            else {
                toastr.warning("You have 0 days remaining");
            }
        }

        function OnRecallDaysEntered() {
            var recalldatefrom = $("#recalldatefrom").val();
            var recallnoofdays = $("#recallnoofdays").val();
            var recalldateto;
            var count = 0;
            recalldatefrom = stringToDate(recalldatefrom);

            while (count < recallnoofdays) {
                recalldateto = new Date(recalldatefrom.setDate(recalldatefrom.getDate() + 1));
                if (recalldatefrom.getDay() != 0 && recalldatefrom.getDay() != 6) {
                    count++;
                }
            }

            var recallresumptiondate = getNextBusinessDay(recalldateto);

            $("#recalldateto").val(dateToString(recalldateto));
            $("#recallresumptiondate").val(dateToString(recallresumptiondate));
        }

        function AllowanceValidation(leavetypeid) {
            var leavetype = query.find(x => x.id == leavetypeid);
            console.log(leavetype);
            //if (leavetype.class == "annual") {
            //    document.getElementById('allowancecheck').removeAttribute("hidden");
            //}
            //else {
            //    document.getElementById('allowancecheck').setAttribute("hidden", true);
            //}
        }

        function RunLeaveValidation() {
            leavetypeid = $("#leavetypeid").val();
            var leavetype = query.find(x => x.id == leavetypeid);
            noofdays = $("#noofdays").val();
            //AllowanceValidation(leavetypeid);
            if (leavetype.availableDays > 0 && leavetype.availableDays >= noofdays && noofdays > 0) {
                OnDaysEntered();
                document.getElementById('datetodiv').removeAttribute("hidden");
                document.getElementById('resumptiondatediv').removeAttribute("hidden");
                document.getElementById('remainingdaysdiv').removeAttribute("hidden");
                document.getElementById('submitleave').removeAttribute("hidden");
                if (leavetype.class == "annual") { document.getElementById('allowancecheck').removeAttribute("hidden"); }
                document.getElementById('validateleave').setAttribute("hidden", true);
            }
            else {
                toastr.warning("Your input is greater than available days or you entered 0 day");
            }       
        }

        function RunRecallLeaveValidation() {
            var recalldate = $("#recalldate").val();
            var recallnoofdays = $("#recallnoofdays").val();
            recalldate = stringToDate(recalldate);

            var selectedleave = $("#selectedleave").val();
            var leaveSelected = queryLeave.find(x => x.id == selectedleave);
            //enddate
            var leaveenddate = leaveSelected.dateTo;
            recalldate = new Date(recalldate);
            leaveenddate = new Date(leaveenddate);
            var diff = new Date(leaveenddate.getTime() - recalldate.getTime());
            var fulldaysdiff = Math.floor(diff / (1000 * 3600 * 24));
            var weekenddivision = (fulldaysdiff / 7).toFixed(0);
            var realdiff = fulldaysdiff - (2 * weekenddivision);
            //startdate
            var leavestartdate = leaveSelected.dateFrom;
            leavestartdate = new Date(leavestartdate);
            var difference = new Date(recalldate.getTime() - leavestartdate.getTime());
            var fullstartdaysdiff = Math.floor(difference / (1000 * 3600 * 24));
            var weekendstartdivision = (fullstartdaysdiff / 7).toFixed(0);
            var realstartdiff = fullstartdaysdiff - (2 * weekendstartdivision);

            if (realdiff > 0 && realstartdiff > 0 && realdiff >= recallnoofdays) {
                OnRecallDaysEntered();
                $("#remainingrecalldays").val(realdiff);
                document.getElementById('recalldatetodiv').removeAttribute("hidden");
                document.getElementById('recallresumptiondatediv').removeAttribute("hidden");
                document.getElementById('remainingrecalldaysdiv').removeAttribute("hidden");
                document.getElementById('submitrecallleave').removeAttribute("hidden");
                document.getElementById('validaterecallleave').setAttribute("hidden", true);
            }
            else {
                toastr.warning("You have to enter a date between last leave session and days requested can not be greater than available days from recall date")
            }
            
        }

        function SubmitLeaveApplication()
        {
            datefrom = $("#datefrom").val();
            dateto = $("#dateto").val();
            resumptiondate = $("#resumptiondate").val();
            remainingdays = $("#remainingdays").val();
            if (document.getElementById('isallowanceadded').checked) { isallowanceadded = true }
            else { isallowanceadded = false }
            sendLeaveForm(leavetypeid, datefrom, dateto, resumptiondate, noofdays, isallowanceadded, remainingdays);
        }

        function SubmitRecallLeaveApplication()
        {
            var selectedleave = $("#selectedleave").val();
            var recalldatefrom = $("#recalldatefrom").val();
            var recallnoofdays = $("#recallnoofdays").val();
            var recalldateto = $("#recalldateto").val();
            var recalldate = $("#recalldate").val();
            var recallresumptiondate = $("#recallresumptiondate").val();

            sendRecallLeaveForm(selectedleave, recalldate, recalldatefrom, recalldateto, recallresumptiondate, recallnoofdays);
        }

        function sendLeaveForm(leaveTypeId,dateFrom,dateTo,resumptionDate,noOfDays,isAllowanceAdded, remainingDays ) {
            $.ajax({
                url: '@Url.Action("ApplyLeave", "Leave")',
                type: 'POST',
                dataType: 'json',
                data: { leaveTypeId: leaveTypeId,dateFrom: dateFrom ,dateTo: dateTo,resumptionDate: resumptionDate,noOfDays: noOfDays,isAllowanceAdded: isAllowanceAdded, remainingDays:remainingDays },
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message)
                        $('#add_leave').modal('hide');
                        location.reload();
                    }
                    else {
                        toastr.error(response ?.message);
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function sendRecallLeaveForm(leaveId, recallDate, dateFrom, dateTo, resumptionDate, recallNoOfDays ) {
            $.ajax({
                url: '@Url.Action("ApplyRecallLeave", "Leave")',
                type: 'POST',
                dataType: 'json',
                data: { leaveId: leaveId, recallDate: recallDate, dateFrom: dateFrom ,dateTo: dateTo,resumptionDate: resumptionDate, recallNoOfDays: recallNoOfDays },
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message)
                        $('#recall_leave').modal('hide');
                        location.reload();
                    }
                    else {
                        toastr.error(response ?.message);
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function stringToDate(str){
            var date = str.split("/"),
                m = date[1],
                d = date[0],
                y = date[2];
            return (new Date(y + "/" + m + "/" + d));
        }

        function dateToString(date) {
          //var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2);
            return [day, mnth, date.getFullYear()].join("/");
        }

        function getNextBusinessDay(date) {
          // Copy date so don't affect original
          date = new Date(+date);
          // Add days until get not Sat or Sun
          do {
            date.setDate(date.getDate() + 1);
          } while (!(date.getDay() % 6))
          return date;
        }


    </script>
}
