@model ViewModel.Model.ApprovalBoardViewModel

@{
    ViewData["Title"] = "Approval";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Approval Board</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Main</a></li>
                    <li class="breadcrumb-item active">Approval Board</li>
                </ul>
            </div>

        </div>
    </div>
    <!-- /Page Header -->
    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <div class="cal-icon">
                    <input class="form-control floating datetimepicker" type="text">
                </div>
                <label class="focus-label">From</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <div class="cal-icon">
                    <input class="form-control floating datetimepicker" type="text">
                </div>
                <label class="focus-label">To</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus select-focus">
                <select class="select floating">
                    <option>Select Status</option>
                    <option>Accepted</option>
                    <option>Declined</option>
                    <option>Expired</option>
                </select>
                <label class="focus-label">Status</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#" class="btn btn-success btn-block"> Search </a>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0">
                    <thead>
                        <tr>
                            <th>Work Item</th>
                            <th>Name</th>
                            <th>Created Date</th>
                            <th>Approval Level</th>
                            <th>Supervisor/Manager</th>
                            <th>Status</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ApprovalBoard)
                        {
                            <tr>
                                <td><a href="#">@item.ApprovalWorkItem.Name</a></td>
                                <td>@item.Employee.LastName @item.Employee.FirstName</td>
                                <td>@item.CreatedDate.ToString("dd MMMM yyyy")</td>
                                <td>@item.ApprovalLevel.ToString()</td>
                                <td>@item.ApprovalProcessor</td>
                                <td><span class="badge bg-inverse-success">@item.Status</span></td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            @if (item.ApprovalWorkItem.Name.ToLower().Contains("leave"))
                                            {
                                                <a class="dropdown-item" id="@item.Id" onclick="OnLeaveSelect(this.id)" data-toggle="modal" data-target="#leave_review"><i class="fa fa-list m-r-5"></i>Leave Detail</a>
                                            }
                                            @if (item.ApprovalWorkItem.Name.ToLower().Contains("recall"))
                                            {
                                                <a class="dropdown-item" id="@item.Id" onclick="OnLeaveRecallSelect(this.id)" data-toggle="modal" data-target="#leaverecall_review"><i class="fa fa-list m-r-5"></i>Leave Recall Detail</a>
                                            }
                                            @if (item.ApprovalWorkItem.Name.ToLower().Contains("loan"))
                                            {
                                                <a class="dropdown-item" id="@item.Id" onclick="OnLoanSelect(this.id)" data-toggle="modal" data-target="#loan_review"><i class="fa fa-list m-r-5"></i>Loan Detail</a>
                                            }
                                            @if (item.ApprovalWorkItem.Name.ToLower().Contains("appraisal"))
                                            {
                                                @if (item.SignOff)
                                                {
                                                    <a class="dropdown-item" id="@item.Id" onclick="OnAppraisalSelect(this.id)" data-toggle="modal" data-target="#review_appraisal"><i class="fa fa-list m-r-5"></i>Appraisal Detail</a>
                                                }
                                                else
                                                {
                                                    <a class="dropdown-item"><i class="fa fa-list m-r-5"></i>Awaiting Signoff</a>
                                                }
                                            }
                                            @if (item.ApprovalWorkItem.Name.ToLower().Contains("transfer"))
                                            {
                                                <a class="dropdown-item" id="@item.Id" onclick="OnTransferSelect(this.id)" data-toggle="modal" data-target="#transfer_review"><i class="fa fa-list m-r-5"></i>Transfer Detail</a>
                                            }
                                            @if (item.ApprovalWorkItem.Name.ToLower().Contains("payment advance"))
                                            {
                                                <a class="dropdown-item" id="@item.Id" onclick="OnAdvanceSelect(this.id)" data-toggle="modal" data-target="#advance_review"><i class="fa fa-list m-r-5"></i>Payment Advance Detail</a>
                                            }
                                            @if (item.ApprovalWorkItem.Name.ToLower().Contains("training"))
                                            {
                                                <a class="dropdown-item" id="@item.Id" onclick="OnTrainingSelect(this.id)" data-toggle="modal" data-target="#training_review"><i class="fa fa-list m-r-5"></i>Training Detail</a>
                                            }

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<!-- Review Leave Modal -->
<div id="leave_review" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Leave Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Leave Type <span class="text-danger">*</span></label>
                        <div>
                            <input class="form-control" readonly type="text" id="leavetypeid">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>From <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" readonly type="text" id="datefrom">
                        </div>
                    </div>
                    <div class="form-group" id="datetodiv">
                        <label>To <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" readonly type="text" id="dateto">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Number of days <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" readonly id="noofdays">
                    </div>
                    <div class="form-group" id="resumptiondatediv">
                        <label>Resumption Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" readonly type="text" id="resumptiondate">
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            Leave Allowance? <input type="text" disabled readonly id="isallowanceadded">
                        </label>
                    </div>

                    <div class="form-group" hidden>
                        <label><span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control" readonly type="text" id="level">
                            <input class="form-control" readonly type="text" id="serviceid">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6" onclick="RejectLeaveAction()">
                            <a class="btn btn-primary cancel-btn">Reject <i class="fa fa-close text-danger"></i></a>
                        </div>
                        <div class="col-6" onclick="ApprovedLeaveAction()">
                            <a class="btn btn-primary continue-btn">Approve <i class="fa fa-check text-success"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Review Leave Modal -->
<!-- Review Leave RecallModal -->
<div id="leaverecall_review" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Leave Recall Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Leave Type <span class="text-danger">*</span></label>
                        <div>
                            <input class="form-control" readonly type="text" id="recallleavetypeid">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>From <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" readonly type="text" id="recalldatefrom">
                        </div>
                    </div>
                    <div class="form-group" id="datetodiv">
                        <label>To <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" readonly type="text" id="recalldateto">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Number of days <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" readonly id="leavenoofdays">
                    </div>
                    <div class="form-group">
                        <label>Number of recall days <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" readonly id="recallnoofdays">
                    </div>
                    <div class="form-group" hidden>
                        <label><span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control" readonly type="text" id="recalllevel">
                            <input class="form-control" readonly type="text" id="recallserviceid">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6" onclick="RejectLeaveRecallAction()">
                            <a class="btn btn-primary cancel-btn">Reject <i class="fa fa-close text-danger"></i></a>
                        </div>
                        <div class="col-6" onclick="ApprovedLeaveRecallAction()">
                            <a class="btn btn-primary continue-btn">Approve <i class="fa fa-check text-success"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Review Leave Recall Modal -->
<!-- Review Performance Appraisal Modal -->
<div id="review_appraisal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Give Performance Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row" id="appendAppraisal">
                        @*Here goes attachments*@
                    </div>
                    <div>
                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            <strong>Total Appraisal Score:</strong> <div id="totalappraisalscore"></div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">Contract Objectives for @DateTime.Now.AddYears(-1).Year</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                            <tr>
                                                <th>Smart Objectives</th>
                                                <th>Criteria</th>
                                                <th>TimeLine</th>
                                                <th>Weighing</th>
                                                <th>Achieved-Score</th>
                                                <th>Weighted-Score</th>
                                                <th>Remark</th>
                                            </tr>
                                        </thead>
                                        <tbody id="contractitemlist">
                                            @*here goes contract item attachment*@

                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                        <strong>Total Weighed Score:</strong> <div id="totalweight"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label><span>Discussions</span></label>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Strenght (Discuss staff’s strenghts from above)</span></label>
                        <textarea rows="5" class="form-control" id="appraisalstrenght"></textarea>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Weekness (Discuss staff’s weaknesses from above)</span></label>
                        <textarea rows="5" class="form-control" id="appraisalweekness"></textarea>
                    </div>
                    <div class="form-group">
                        <label><span>Recommendations</span></label>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Further Counselling</span></label>
                        <textarea rows="5" class="form-control" id="appraisalcounselling"></textarea>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Redeployment</span></label>
                        <textarea rows="5" class="form-control" id="appraisalredeployement"></textarea>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Career Development</span></label>
                        <textarea rows="5" class="form-control" id="appraisaldevelopment"></textarea>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Disciplinary Action</span></label>
                        <textarea rows="5" class="form-control" id="appraisalaction"></textarea>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Training Needs</span></label>
                        <textarea rows="5" class="form-control" id="appraisaltraining"></textarea>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Promotion</span></label>
                        <textarea rows="5" class="form-control" id="appraisalpromotion"></textarea>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Other Actions</span></label>
                        <textarea rows="5" class="form-control" id="appraisaldetail"></textarea>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Set the Next Appraisal Period Targets</span></label>
                        <textarea rows="5" class="form-control" id="appraisaltarget"></textarea>
                    </div>
                    <div class="form-group" id="appraisalcommentdiv">
                        <label>Appraisee's Comment <span class="text-danger">*</span></label>
                        <textarea type="text" readonly placeholder="No Comment Yet" disabled class="form-control" id="appraiseecomment"></textarea>
                    </div>
                    <div class="form-group" id="appraisalimprovdiv">
                        <label>Area of improvement (Appraisee)<span class="text-danger">*</span></label>
                        <textarea type="text" readonly placeholder="No Comment Yet" disabled class="form-control" id="appraiseeimprove"></textarea>
                    </div>
                    <div class="form-group" hidden>
                        <label><span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control" readonly type="text" id="appraisallevel">
                            <input class="form-control" readonly type="text" id="appraisalserviceid">
                        </div>
                    </div>
                    <div class="col-12" onclick="submitManagerSignoff()" id="signoffdivsection">
                        <a class="btn btn-primary cancel-btn">Approve for Signoff <i class="fa fa-check text-success"></i></a>
                    </div>
                    <div class="row" hidden id="approvaldivsection">
                        <div class="col-6" onclick="RejectAppraisalAction()">
                            <a class="btn btn-primary cancel-btn">Reject <i class="fa fa-close text-danger"></i></a>
                        </div>
                        <div class="col-6" onclick="ApprovedAppraisalAction()">
                            <a class="btn btn-primary continue-btn">Approve <i class="fa fa-check text-success"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Review Performance Appraisal Modal -->
<!-- Review Training Modal -->
<div id="training_review" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Training Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Training Topic <span class="text-danger">*</span></label>
                        <div>
                            <input class="form-control" readonly type="text" id="trainingtopic">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Training Year <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control" readonly type="text" id="trainingyear">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Start Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" readonly type="text" id="trainingstartdate">
                        </div>
                    </div>
                    <div class="form-group" id="datetodiv">
                        <label>End Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" readonly type="text" id="trainingenddate">
                        </div>
                    </div>

                    <div class="form-group" hidden>
                        <label><span class="text-danger">*</span></label>
                        <div>
                            <input class="form-control" readonly type="text" id="traininglevel">
                            <input class="form-control" readonly type="text" id="trainingserviceid">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6" onclick="RejectTrainingAction()">
                            <a class="btn btn-primary cancel-btn">Reject <i class="fa fa-close text-danger"></i></a>
                        </div>
                        <div class="col-6" onclick="ApprovedTrainingAction()">
                            <a class="btn btn-primary continue-btn">Approve <i class="fa fa-check text-success"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Review Leave Modal -->
<!-- Review Loan Modal -->
<div id="loan_review" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Loan Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Loan Type <span class="text-danger">*</span></label>
                        <div>
                            <input class="form-control" readonly type="text" id="loantypeid">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Loan Amount <span class="text-danger">*</span></label>
                        <div>
                            <input class="form-control" readonly type="text" id="loanamount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Start Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" readonly type="text" id="loandatefrom">
                        </div>
                    </div>
                    <div class="form-group" id="datetodiv">
                        <label>End Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" readonly type="text" id="loandateto">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Number of Installments <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" readonly id="loannoofinstallments">
                    </div>
                    <div class="form-group" id="resumptiondatediv">
                        <label>Installment/Frequency Amount<span class="text-danger">*</span></label>
                        <div>
                            <input class="form-control" readonly type="text" id="installmentamount">
                        </div>
                    </div>
                    <div class="form-group" hidden>
                        <label><span class="text-danger">*</span></label>
                        <div>
                            <input class="form-control" readonly type="text" id="loanlevel">
                            <input class="form-control" readonly type="text" id="loanserviceid">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6" onclick="RejectLoanAction()">
                            <a class="btn btn-primary cancel-btn">Reject <i class="fa fa-close text-danger"></i></a>
                        </div>
                        <div class="col-6" onclick="ApprovedLoanAction()">
                            <a class="btn btn-primary continue-btn">Approve <i class="fa fa-check text-success"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Review Loan Modal -->
<!-- Review Payment Advance Modal -->
<div id="advance_review" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Payment Advance Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Amount Requested<span class="text-danger">*</span></label>
                        <div>
                            <input class="form-control" readonly type="text" id="advanceamount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Target Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" readonly type="text" id="advancetargetdate">
                        </div>
                    </div>
                    <div class="form-group" hidden>
                        <label><span class="text-danger">*</span></label>
                        <div>
                            <input class="form-control" readonly type="text" id="advancelevel">
                            <input class="form-control" readonly type="text" id="advanceserviceid">
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-6" onclick="RejectAdvanceAction()">
                            <a class="btn btn-primary cancel-btn">Reject <i class="fa fa-close text-danger"></i></a>
                        </div>
                        <div class="col-6" onclick="ApprovedAdvanceAction()">
                            <a class="btn btn-primary continue-btn">Approve <i class="fa fa-check text-success"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Review Payment Advance Modal -->
<!-- Review Transfer Modal -->
<div id="transfer_review" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Transfer Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Employee Name<span class="text-danger">*</span></label>
                                <input type="text" readonly value="" class="form-control" id="transferemployeename">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Employee Id <span class="text-danger">*</span></label>
                                <input type="text" readonly value="" class="form-control" id="transferemployeid">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label"> Division: Transfer From <span class="text-danger">*</span></label>
                                <input type="text" readonly value="" class="form-control" id="currentdivision">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label"> Division: Transfer To <span class="text-danger">*</span></label>
                                <input type="text" readonly value="" class="form-control" id="newdivision">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label"> Department: Transfer From <span class="text-danger">*</span></label>
                                <input type="text" readonly value="" class="form-control" id="currentdepartment">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label"> Department: Transfer To <span class="text-danger">*</span></label>
                                <input type="text" readonly value="" class="form-control" id="newdepartment">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label"> Section: Transfer From <span class="text-danger">*</span></label>
                                <input type="text" readonly value="" class="form-control" id="currentsection">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label"> Section: Transfer To <span class="text-danger">*</span></label>
                                <input type="text" readonly value="" class="form-control" id="newsection">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label"> Unit: Transfer From <span class="text-danger">*</span></label>
                                <input type="text" readonly value="" class="form-control" id="currentunit">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label"> Unit: Transfer To <span class="text-danger">*</span></label>
                                <input type="text" readonly value="" class="form-control" id="newunit">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" hidden>
                        <label><span class="text-danger">*</span></label>
                        <div>
                            <input class="form-control" readonly type="text" id="transferlevel">
                            <input class="form-control" readonly type="text" id="transferserviceid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6" onclick="RejectTransferAction()">
                            <a class="btn btn-primary cancel-btn">Reject <i class="fa fa-close text-danger"></i></a>
                        </div>
                        <div class="col-6" onclick="ApprovedTransferAction()">
                            <a class="btn btn-primary continue-btn">Approve <i class="fa fa-check text-success"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Review Transfer Modal -->

@section Scripts{
    <script type="text/javascript">
        var prefixValue = "";
        var appraisalList = JSON.parse('@Json.Serialize(@Model.AppraisalCategories)');
        var ratingList = JSON.parse('@Json.Serialize(@Model.AppraisalRatings)');
        var approvalboard = JSON.parse('@Json.Serialize(@Model.ApprovalBoard)');
        let appraisalView = "";

        function OnAppraisalSelect(appraisalId) {
            getAppraisalById(appraisalId);
        }

        function OnLeaveSelect(leaveId) {
            getLeaveById(leaveId);
        }

        function OnLeaveRecallSelect(recallId) {
            getRecallLeaveById(recallId);
        }

        function OnTrainingSelect(trainingId) {
            getTrainingById(trainingId);
        }

        function OnLoanSelect(loanId) {
            getLoanById(loanId);
        }

        function OnAdvanceSelect(advanceId) {
            getAdvanceById(advanceId);
        }

        function OnTransferSelect(transferId) {
            getTransferById(transferId);
        }

        function PrintSelect(items, empAppraisalId, categoryItemId) {
            //prefixValue = empAppraisalId + "/" + categoryItemId;
            var str = "";
            for (var i = 0; i < items.length; i++) {
                str += '<option value="' + empAppraisalId + "/" + categoryItemId + "/" + items[i].id + '">' + items[i].weight + "-" +  items[i].description + '</option >'
            }
            return str;
        }

        function PrintCategoryItem(items, categoryId) {
            var str;
            var newItemList = items.filter(x => x.appraisalCategoryId == categoryId);
            for (var i = 0; i < newItemList.length; i++) {
                str += `<tr>
                        <td>${newItemList[i].appraisalCategoryItem.description}</td>
                        <td>${newItemList[i].appraisalRating.description}</td>
                        <td>
                            <select name="customer_experience" class="form-control" id="appraisalrating">
                                <option value="">Select Rating</option>
                                ${PrintSelect(ratingList, newItemList[i].employeeAppraisalId, newItemList[i].appraisalCategoryItemId)}
                            </select>
                        </td>
                    </tr>`;
            }
            return str;
        }

        function getAppraisalById(appraisalId) {
            $.ajax({
                url: '@Url.Action("getAppraisalById", "Appraisal")',
                type: 'POST',
                dataType: 'json',
                data: { appraisalId: appraisalId },
                success: function (response) {
                    if (response.status) {

                        for (var i = 0; i < response?.data?.categories?.length; i++) {
                            console.log(response?.data.categories);
                            appraisalView = `
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header" style="background-color:#daa520">
                                            <h4 class="card-title mb-0" id="categorydescription">${response?.data?.categories[i].description}</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>Indicator</th>
                                                            <th>Employee Value</th>
                                                            <th>Supervisor Rating</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        ${PrintCategoryItem(response?.data?.detail, response?.data?.categories[i].id)}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                `;
                            $("#appendAppraisal").append(appraisalView);
                        }
                        $("#appraisalserviceid").val(response?.data?.serviceId);
                        $("#appraisallevel").val(response?.data?.level);

                        $("#appraisalstrenght").val(response?.data?.strenght);
                        $("#appraisalweekness").val(response?.data?.weekness);
                        $("#appraisalcounselling").val(response?.data?.counselling);
                        $("#appraisalredeployement").val(response?.data?.redeployment);
                        $("#appraisaldevelopment").val(response?.data?.development);
                        $("#appraisalaction").val(response?.data?.action);
                        $("#appraisaltraining").val(response?.data?.training);
                        $("#appraisalpromotion").val(response?.data?.promotion);
                        $("#appraisaldetail").val(response?.data?.others);
                        $("#appraisaltarget").val(response?.data?.appraisalTarget);
                        $("#appraiseecomment").val(response?.data?.appraiseeComment);
                        $("#appraiseeimprove").val(response?.data?.areaOfImprovement);
                        if (response?.data?.employeeReview) {
                            document.getElementById('approvaldivsection').removeAttribute("hidden");
                            document.getElementById('signoffdivsection').setAttribute("hidden", true);
                        }
                        //$("#totalweight").val(response?.data?.contract.totalWeightedSore);
                        //document.getElementById('totalweight').innerHTML = response?.data?.contract.totalWeightedSore;
                        document.getElementById('totalappraisalscore').innerHTML = response?.data?.appraisalScore.totalScore + "/" + response?.data?.appraisalScore.totalNetScore;
                         //weight = $("#totalappraisalscore").val(response?.data?.appraisalScore);
                        //console.log(weight);

                        for (var j = 0; j < response?.data?.objectiveItem?.length; j++) {
                            contractItem = `
                                <tr>
                                    <th>${response?.data?.objectiveItem[j].smartObjective}</th>
                                    <th>${response?.data?.objectiveItem[j].evaluationCiteria}</th>
                                    <th>${response?.data?.objectiveItem[j].timeline}</th>
                                    <th>${response?.data?.objectiveItem[j].weighting}</th>
                                    <th>${response?.data?.objectiveItem[j].scoreAchieved}</th>
                                    <th>${response?.data?.objectiveItem[j].weightedSore}</th>
                                    <th>${response?.data?.objectiveItem[j].remark}</th>
                                </tr>
                                `;
                            $("#contractitemlist").append(contractItem);
                        }
                    }
                    else {
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function getLeaveById(leaveId) {
            $.ajax({
                url: '@Url.Action("GetLeaveById", "Leave")',
                type: 'POST',
                dataType: 'json',
                data: { leaveId: leaveId },
                success: function (response) {
                    if (response.status) {
                        $("#resumptiondate").val(response?.data?.resumptionDate);
                        $("#leavetypeid").val(response?.data?.leaveType?.class);
                        $("#datefrom").val(response?.data?.dateFrom);
                        $("#dateto").val(response?.data?.dateTo);
                        $("#noofdays").val(response?.data?.noOfDays);
                        $("#isallowanceadded").val(response?.data?.isAllowance);
                        $("#serviceid").val(response?.data?.serviceId);
                        $("#level").val(response?.data?.level);
                    }
                    else {
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function getRecallLeaveById(recallId) {
            $.ajax({
                url: '@Url.Action("GetRecallLeaveById", "Leave")',
                type: 'POST',
                dataType: 'json',
                data: { recallId: recallId },
                success: function (response) {
                    if (response.status) {
                        $("#recallleavetypeid").val(response?.data?.leaveType?.class);
                        $("#recalldatefrom").val(response?.data?.dateFrom);
                        $("#recalldateto").val(response?.data?.dateTo);
                        $("#leavenoofdays").val(response?.data?.noOfLeaveDays);
                        $("#recallnoofdays").val(response?.data?.noOfDays);
                        $("#recallserviceid").val(response?.data?.serviceId);
                        $("#recalllevel").val(response?.data?.level);
                    }
                    else {
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function getTrainingById(trainingId) {
            $.ajax({
                url: '@Url.Action("GetTrainingById", "Training")',
                type: 'POST',
                dataType: 'json',
                data: { trainingId: trainingId },
                success: function (response) {
                    if (response.status) {
                        $("#trainingtopic").val(response?.data?.trainingTopic);
                        $("#trainingstartdate").val(response?.data?.dateFrom);
                        $("#trainingenddate").val(response?.data?.dateTo);
                        $("#trainingyear").val(response?.data?.trainingYear);
                        $("#isallowanceadded").val(response?.data?.isAllowance);
                        $("#trainingserviceid").val(response?.data?.serviceId);
                        $("#traininglevel").val(response?.data?.level);
                    }
                    else {
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function getLoanById(loanId) {
            $.ajax({
                url: '@Url.Action("GetLoanById", "Loan")',
                type: 'POST',
                dataType: 'json',
                data: { loanId: loanId },
                success: function (response) {
                    if (response.status) {
                        $("#loantypeid").val(response?.data?.loanType);
                        $("#loandateto").val(response?.data?.dateFrom);
                        $("#loandatefrom").val(response?.data?.dateTo);
                        $("#loanamount").val("₦" + response?.data?.loanAmount);
                        $("#loannoofinstallments").val(response?.data?.noOfInstallment);
                        $("#installmentamount").val("₦" + response?.data?.installmentAmount);
                        $("#loanserviceid").val(response?.data?.serviceId);
                        $("#loanlevel").val(response?.data?.level);
                    }
                    else {
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function getAdvanceById(advanceId) {
            $.ajax({
                url: '@Url.Action("GetAdvanceById", "Payroll")',
                type: 'POST',
                dataType: 'json',
                data: { advanceId: advanceId },
                success: function (response) {
                    if (response.status) {
                        $("#advancetargetdate").val(response?.data?.targetDate);
                        $("#advanceamount").val("₦" + response?.data?.amount);
                        $("#advanceserviceid").val(response?.data?.serviceId);
                        $("#advancelevel").val(response?.data?.level);
                    }
                    else {
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function getTransferById(transferId) {
            $.ajax({
                url: '@Url.Action("GetTransferById", "Employee")',
                type: 'POST',
                dataType: 'json',
                data: { transferId: transferId },
                success: function (response) {
                    if (response.status) {
                        $("#currentdivision").val(response?.data?.currentDivision);
                        $("#currentdepartment").val(response?.data?.currentDepartment);
                        $("#currentsection").val(response?.data?.currentSection);
                        $("#currentunit").val(response?.data?.currentUnit);
                        $("#newdivision").val(response?.data?.newDivision);
                        $("#newdepartment").val(response?.data?.newDepartment);
                        $("#newsection").val(response?.data?.newSection);
                        $("#newunit").val(response?.data?.newUnit);
                        $("#transferemployeename").val(response?.data?.employeeName);
                        $("#transferemployeid").val(response?.data?.employeeId);
                        $("#transferlevel").val(response?.data?.level);
                        $("#transferserviceid").val(response?.data?.serviceId);
                    }
                    else {
                    }
                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function ApprovedLeaveAction() {
            level = $("#level").val();
            serviceid = $("#serviceid").val();
            ApprovalAction(true, level, serviceid);
        }

        function RejectLeaveAction() {
            level = $("#level").val();
            serviceid = $("#serviceid").val();
            ApprovalAction(false, level, serviceid);
        }

        function ApprovedLeaveRecallAction() {
            level = $("#recalllevel").val();
            serviceid = $("#recallserviceid").val();
            ApprovalRecallAction(true, level, serviceid);
        }

        function RejectLeaveRecallAction() {
            level = $("#recalllevel").val();
            serviceid = $("#recallserviceid").val();
            ApprovalRecallAction(false, level, serviceid);
        }

        function ApprovedAppraisalAction() {
            level = $("#appraisallevel").val();
            serviceid = $("#appraisalserviceid").val();
            ApprovalAppraisalAction(true, level, serviceid);
        }

        function RejectAppraisalAction() {
            level = $("#appraisallevel").val();
            serviceid = $("#appraisalserviceid").val();

            ApprovalAppraisalAction(false, level, serviceid);
        }

        function ApprovedTrainingAction() {
            level = $("#traininglevel").val();
            serviceid = $("#trainingserviceid").val();
            ApprovalTrainingAction(true, level, serviceid);
        }

        function RejectTrainingAction() {
            level = $("#traininglevel").val();
            serviceid = $("#trainingserviceid").val();
            ApprovalTrainingAction(false, level, serviceid);
        }

        function ApprovedLoanAction() {
            level = $("#loanlevel").val();
            serviceid = $("#loanserviceid").val();
            ApprovalLoanAction(true, level, serviceid);
        }

        function RejectLoanAction() {
            level = $("#loanlevel").val();
            serviceid = $("#loanserviceid").val();
            ApprovalLoanAction(false, level, serviceid);
        }

        function ApprovedAdvanceAction() {
            level = $("#advancelevel").val();
            serviceid = $("#advanceserviceid").val();
            ApprovalAdvanceAction(true, level, serviceid);
        }

        function RejectAdvanceAction() {
            level = $("#advancelevel").val();
            serviceid = $("#advanceserviceid").val();
            ApprovalAdvanceAction(false, level, serviceid);
        }

        function ApprovedTransferAction() {
            level = $("#transferlevel").val();
            serviceid = $("#transferserviceid").val();
            ApprovalTransferAction(true, level, serviceid);
        }

        function RejectTransferAction() {
            level = $("#transferlevel").val();
            serviceid = $("#transferserviceid").val();
            ApprovalTransferAction(false, level, serviceid);
        }

        function ApprovalAction(status, approvalLevel, serviceId) {
            $.ajax({
                url: '@Url.Action("ApprovalBoardAction", "Dashboard")',
                type: 'POST',
                dataType: 'json',
                data: { status: status, approvalLevel: approvalLevel, serviceId: serviceId },
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message)
                        $('#leave_review').modal('hide');
                        $('#review_appraisal').modal('hide');
                        location.reload();
                    }
                    else {
                        toastr.error(response?.message)
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function ApprovalRecallAction(status, approvalLevel, serviceId) {
            $.ajax({
                url: '@Url.Action("ApprovalBoardLeaveAction", "Dashboard")',
                type: 'POST',
                dataType: 'json',
                data: { status: status, approvalLevel: approvalLevel, serviceId: serviceId },
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message)
                        $('#leaverecall_review').modal('hide');
                        location.reload();
                    }
                    else {
                        toastr.error(response?.message)
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function ApprovalAppraisalAction(status, approvalLevel, serviceId) {
            $.ajax({
                url: '@Url.Action("ApprovalBoardAppraisalAction", "Dashboard")',
                type: 'POST',
                dataType: 'json',
                data: { status: status, approvalLevel: approvalLevel, serviceId: serviceId},
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message)
                        $('#leave_review').modal('hide');
                        $('#review_appraisal').modal('hide');
                        location.reload();
                    }
                    else {
                        toastr.error(response?.message)
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function ApprovalTrainingAction(status, approvalLevel, serviceId) {
            $.ajax({
                url: '@Url.Action("ApprovalBoardTrainingAction", "Dashboard")',
                type: 'POST',
                dataType: 'json',
                data: { status: status, approvalLevel: approvalLevel, serviceId: serviceId },
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message)
                        $('#training_review').modal('hide');
                        location.reload();
                    }
                    else {
                        toastr.error(response?.message)
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function ApprovalLoanAction(status, approvalLevel, serviceId) {
            $.ajax({
                url: '@Url.Action("ApprovalBoardLoanAction", "Dashboard")',
                type: 'POST',
                dataType: 'json',
                data: { status: status, approvalLevel: approvalLevel, serviceId: serviceId },
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message)
                        $('#loan_review').modal('hide');
                        location.reload();
                    }
                    else {
                        toastr.error(response?.message)
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function ApprovalAdvanceAction(status, approvalLevel, serviceId) {
            $.ajax({
                url: '@Url.Action("ApprovalBoardAdvanceAction", "Dashboard")',
                type: 'POST',
                dataType: 'json',
                data: { status: status, approvalLevel: approvalLevel, serviceId: serviceId },
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message)
                        $('#advance_review').modal('hide');
                        location.reload();
                    }
                    else {
                        toastr.error(response?.message)
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function ApprovalTransferAction(status, approvalLevel, serviceId) {
            $.ajax({
                url: '@Url.Action("ApprovalBoardTransferAction", "Dashboard")',
                type: 'POST',
                dataType: 'json',
                data: { status: status, approvalLevel: approvalLevel, serviceId: serviceId },
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message)
                        $('#transfer_review').modal('hide');
                        location.reload();
                    }
                    else {
                        toastr.error(response?.message)
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function submitManagerSignoff() {
            var dict = [];
            $('select[id=appraisalrating]').each(function () {
                dict.push(this.value);
            });
            //console.log(dict);
            serviceid = $("#appraisalserviceid").val();
            appraisalstrenght = $.trim($("#appraisalstrenght").val());
            appraisalweekness = $.trim($("#appraisalweekness").val());
            appraisalcounselling = $.trim($("#appraisalcounselling").val());
            appraisalredeployement = $.trim($("#appraisalredeployement").val());
            appraisaldevelopment = $.trim($("#appraisaldevelopment").val());
            appraisalaction = $.trim($("#appraisalaction").val());
            appraisaltraining = $.trim($("#appraisaltraining").val());
            appraisalpromotion = $.trim($("#appraisalpromotion").val());
            appraisaldetail = $.trim($("#appraisaldetail").val());
            appraisaltarget = $.trim($("#appraisaltarget").val());

            managerSignOff(serviceid, dict, appraisalstrenght, appraisalweekness, appraisalcounselling, appraisalredeployement, appraisaldevelopment, appraisalaction, appraisaltraining, appraisalpromotion, appraisaldetail, appraisaltarget);
        }

        function managerSignOff(serviceId, categoryItemUpdate, strenght, weekness, counselling, redeployment, development, disciplinaryAction, training, promotion, otherDetail, appraisaltarget) {
            $.ajax({
                url: '@Url.Action("ManagerSignOffAppraisal", "Dashboard")',
                type: 'POST',
                dataType: 'json',
                data: { serviceId: serviceId, categoryItemUpdate: categoryItemUpdate, strenght: strenght, weekness: weekness, counselling: counselling, redeployment: redeployment, development: development, disciplinaryAction: disciplinaryAction, training: training, promotion: promotion, otherDetail: otherDetail, nextTarget: appraisaltarget },
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message)
                        $('#view_appraisal').modal('hide');
                        location.reload();
                    }
                    else {
                        toastr.error(response?.message);
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

    </script>
}