@model ViewModel.Model.DashboardModel

@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<!-- Page Content -->
<div class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="welcome-box">
                <div class="welcome-img">
                    <img alt="" src="~/img/user.jpg">
                </div>
                <div class="welcome-det">
                    <h3>Welcome, @Model.LastName @Model.FirstName</h3>
                    <p>@DateTime.Now.ToString("dd MMMM yyyy")</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8">
            <section class="dash-section">
                <h1 class="dash-sec-title">Summary</h1>
                <div class="dash-sec-content">
                    <div class="dash-info-list">
                        <a href="#" class="dash-card">
                            <div class="dash-card-container">
                                <div class="dash-card-icon">
                                    <i class="fa fa-hourglass-o"></i>
                                </div>
                                <div class="dash-card-content">
                                    <p>You have @Model.ApprovalPending approval pending and @Model.ApprovalDone approval done so far</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="dash-info-list">
                        <a href="#" class="dash-card">
                            <div class="dash-card-container">
                                <div class="dash-card-icon">
                                    <i class="la la-pie-chart"></i>
                                </div>
                                <div class="dash-card-content">
                                    <p>@Model.LeaveApprovedInDepartment people will go on leave in your department</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="dash-info-list">
                        <a href="#" class="dash-card">
                            <div class="dash-card-container">
                                <div class="dash-card-icon">
                                    <i class="la la-pie-chart"></i>
                                </div>
                                <div class="dash-card-content">
                                    <p>@Model.LeaveOngoingInDepartment people are already on leave in your department</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="dash-info-list">
                        <a href="#" class="dash-card">
                            <div class="dash-card-container">
                                <div class="dash-card-icon">
                                    <i class="la la-edit"></i>
                                </div>
                                <div class="dash-card-content">
                                    <p>You can easily apply for <i>leave</i>/<i>loan</i> here</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="dash-info-list">
                        <a href="#" class="dash-card">
                            <div class="dash-card-container">
                                <div class="dash-card-icon">
                                    <i class="la la-rocket"></i>
                                </div>
                                <div class="dash-card-content">
                                    <p>You have <strong>@Model.AccessType</strong> Access Type</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="dash-info-list">
                        <a href="#" class="dash-card">
                            <div class="dash-card-container">
                                <div class="dash-card-icon">
                                    <i class="la la-money"></i>
                                </div>
                                <div class="dash-card-content">
                                    <p>You are eligible for ₦@String.Format("{0:#,###0.00}", Model.LoanAmountEligible) loan</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="dash-sidebar">
                <section>
                    <h5 class="dash-title">My Annual Leave</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="time-list">
                                <div class="dash-stats-list">
                                    <h4>@Model.AnnualLeaveDaysLimit</h4>
                                    <p>Eligible Day(s)</p>
                                </div>
                                <div class="dash-stats-list">
                                    <h4>@Model.LeaveDaysEligible</h4>
                                    <p>Remaining Days</p>
                                </div>
                            </div>
                            <div class="request-btn">
                                <a class="btn btn-primary" href="#">Apply Leave</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <h5 class="dash-title">My Loan</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="time-list">
                                <div class="dash-stats-list">
                                    <h4>₦@String.Format("{0:#,###0.00}", Model.LoanAmountLimit)</h4>
                                    <p>Loan Limit</p>
                                </div>
                                <div class="dash-stats-list">
                                    <h4>₦@String.Format("{0:#,###0.00}", 0)</h4>
                                    <p>Loan Taken</p>
                                </div>
                            </div>
                            <div class="request-btn">
                                <a class="btn btn-primary" href="#">Loan History</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->
