@model ViewModel.Model.ContractViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Contract Objective</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a>Performance</a></li>
                    <li class="breadcrumb-item active">Contract Objectives</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>Employee Id</th>
                            <th>Total Score</th>
                            <th>Created  Date</th>
                            <th>Employee SignOff  Status</th>
                            <th>Last SignOff  Date</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ContractObjective)
                        {
                        <tr>
                            <td>@item.Emp_No - @item.Employee.LastName @item.Employee.FirstName</td>
                            <td>@item.TotalWeightedSore</td>
                            <td>@item.CreatedDate.ToString("dd MMMM yyyy")</td>
                            <td>@item.IsSignedOff</td>
                            <td>@item.SignedOffDate?.ToString("dd MMMM yyyy")</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right" id="@item.Id" onclick="getItem(this.id)">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#contract_update_modal"><i class="fa fa-pencil m-r-5"></i> Access Contract Objectives</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Contract Item Update Modal -->
<div id="contract_update_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Contract Objectives</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                <form>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" placeholder="EmployeeId" readonly class="form-control" id="updateempno">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" placeholder="Total Score" readonly class="form-control" id="totalscoreaccess">
                            </div>
                        </div>
                    </div>
                    <div class="form-scroll" id="appendcontractitem">
                        @*<div class="card">
                <div class="card-body">
                    <h3 class="card-title">Contract Item <a href="javascript:void(0);"></a></h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Smart objectives <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label> Evaluation Citerias <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Timeline <span class="text-danger">*</span></label>
                                <input type="text" class="form-control datetimepicker" id="" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Weighting <span class="text-danger">*</span></label>
                                <input type="number" class="form-control" id="" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Score Achieved <span class="text-danger">*</span></label>
                                <input type="number" class="form-control" id="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Remark <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

                    </div>
                    <div class="form-group" hidden id="commentdiv">
                        <label>Employee Comment <span class="text-danger">*</span></label>
                        <textarea type="text" readonly placeholder="No Comment Yet" disabled class="form-control" id="empcomment"></textarea>
                    </div>
                    <div class="submit-section" onclick="submitUpdateContract()" id="submitupdate">
                        <div class="btn btn-primary submit-btn">Submit Accessment Result</div>
                    </div>
                    <div class="submit-section" onclick="LMSignOffContract()" hidden id="setaccesssignoff">
                        <div class="btn btn-primary submit-btn">Signoff</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Contract Item Update Modal -->

@section Scripts{
    <script type="text/javascript">

        var selectedId;

        function getItem(objectiveId) {
            getContractByObjective(objectiveId);
            selectedId = objectiveId;
        }

        function getContractByObjective(objectiveId) {
            $.ajax({
                url: '@Url.Action("GetByObjectiveId", "Contract")',
                type: 'POST',
                dataType: 'json',
                data: { objectiveId: objectiveId },
                success: function (response) {
                    if (response.status) {
                        for (var i = 0; i < response?.data?.item.length; i++) {
                            contractView = `
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">Contract Item <a href="javascript:void(0);"></a></h3>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Smart objectives <span class="text-danger">*</span></label>
                                                    <input type="text" value='${response?.data?.item[i].smartObjective}' class="form-control" id="" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label> Evaluation Citerias <span class="text-danger">*</span></label>
                                                    <input type="text" value='${response?.data?.item[i].evaluationCiteria}' class="form-control" id="" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Timeline <span class="text-danger">*</span></label>
                                                    <input type="text" value='${response?.data?.item[i].timeline}' class="form-control datetimepicker" id="" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Weighting <span class="text-danger">*</span></label>
                                                    <input type="number" value='${response?.data?.item[i].weighting}' class="form-control" id="" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Score Achieved <span class="text-danger">*</span></label>
                                                    <input type="number" value="${response?.data?.item[i].scoreAchieved}" class="form-control" id="scoreachieved">
                                                    <input type="text" value='${response?.data?.item[i].id}' hidden class="form-control" id="contractitemidentity">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Remark <span class="text-danger">*</span></label>
                                                    <input type="text" value="${response?.data?.item[i].remark}" class="form-control" id="remark">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                `;
                            $("#appendcontractitem").append(contractView);
                        }

                        $("#empcomment").val(response?.data?.objectives?.comment);
                        $("#totalscoreaccess").val(response?.data?.objectives?.totalWeightedSore);
                        $("#updateempno").val(response?.data?.objectives.emp_No);
                        if (response?.data?.objectives.isSignedOff) {
                            document.getElementById('submitupdate').setAttribute("hidden", true);
                            document.getElementById('setaccesssignoff').removeAttribute("hidden");
                        }
                        if (response?.data?.objectives.isAccessed) {
                            document.getElementById('commentdiv').removeAttribute("hidden");
                        }
                        if (response?.data?.objectives.isHRSignedOff) {
                            document.getElementById('setaccesssignoff').setAttribute("hidden", true);
                        }
                    }
                    else {
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function submitUpdateContract() {
            var dictid = [];
            var dictscore = [];
            var dictremark = [];

            $('input[id=contractitemidentity]').each(function () {
                dictid.push(this.value);
            });

            $('input[id=scoreachieved]').each(function () {
                dictscore.push(this.value);
            });

            $('input[id=remark]').each(function () {
                dictremark.push(this.value);
            });

            UpdateContract(dictid, dictscore, dictremark);
        }

        function UpdateContract(contractItems, scores, remarks) {
            $.ajax({
                url: '@Url.Action("UpdateContract", "Contract")',
                type: 'POST',
                dataType: 'json',
                data: { contractItems: contractItems, scores: scores, remarks: remarks},
                success: function (response) {
                    if (response.status) {
                        toastr.success(response ?.message)
                        $('#contract_info_modal').modal('hide');
                        location.reload();
                    }
                    else {
                        toastr.error(response ?.message)
                    }
                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function LMSignOffContract() {
            LMSignOff(selectedId);
        }

        function LMSignOff(contractId) {
            $.ajax({
                url: '@Url.Action("LMSignOffContract", "Contract")',
                type: 'POST',
                dataType: 'json',
                data: { contractId: contractId},
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message)
                        //$('#comment_pipquery').modal('hide');
                        location.reload();
                    }
                    else {
                        toastr.warning(response ?.message);
                    }
                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }
    </script>
}

