@model ViewModel.Model.ContractViewModel
@{
    ViewData["Title"] = "ViewContract";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Contract Objectives</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Services</a></li>
                    <li class="breadcrumb-item active">Contract Objectives</li>
                </ul>
            </div>
            @if (Model.IsContractible)
            {
                <div class="col-auto float-right ml-auto">
                    <a href="#" class="btn add-btn" data-toggle="modal" data-target="#contract_info_modal"><i class="fa fa-plus"></i> Add Contract Objective</a>
                </div>
            }
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>Employee Id</th>
                            <th>Total Score</th>
                            <th>Created  Date</th>
                            <th>SignOff  Status</th>
                            <th>SignOff  Date</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ContractObjective)
                        {
                            <tr>
                                <td>@item.Emp_No - @item.Employee.LastName @item.Employee.FirstName</td>
                                <td>@item.TotalWeightedSore</td>
                                <td>@item.CreatedDate.ToString("dd MMMM yyyy")</td>
                                <td>@item.IsSignedOff</td>
                                <td>@item.SignedOffDate?.ToString("dd MMMM yyyy")</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right" id="@item.Id" onclick="getItem(this.id)">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#contract_view_modal"><i class="fa fa-pencil m-r-5"></i> View/SignOff</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<!-- Contract Item Info Modal -->
<div id="contract_info_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Contract Objectives</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="select" id="contractemployeeid" onchange="OnSelect()">
                                    <option selected value="@Model.Emp_No">@Model.LastName @Model.FirstName</option>                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" placeholder="EmployeeId" value="@Model.Emp_No" readonly class="form-control" id="contractemployeeno">
                            </div>
                        </div>
                    </div>
                    <div class="form-scroll">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Contract Item <a href="javascript:void(0);"></a></h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Smart objectives <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="obj1">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> Evaluation Citerias <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="cri1">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Timeline <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control datetimepicker" id="time1">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Weighting <span class="text-danger">*</span></label>
                                            <input type="number" class="form-control" id="weight1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="add-more" id="adddiv1" onclick="AddMore(1)">
                                <a href="javascript:void(0);"><i class="fa fa-plus-circle"></i> Add More</a>
                            </div>
                        </div>

                        <div class="card" hidden id="carddiv2">
                            <div class="card-body">
                                <h3 class="card-title">Contract Item <a href="javascript:void(0);"></a></h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Smart objectives <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="obj2">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> Evaluation Citerias <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="cri2">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Timeline <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control datetimepicker" id="time2">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Weighting <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="weight2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="add-more" id="adddiv2" onclick="AddMore(2)">
                                <a href="javascript:void(0);"><i class="fa fa-plus-circle"></i> Add More</a>
                            </div>
                        </div>

                        <div class="card" hidden id="carddiv3">
                            <div class="card-body">
                                <h3 class="card-title">Contract Item <a href="javascript:void(0);"></a></h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Smart objectives <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="obj3">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> Evaluation Citerias <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="cri3">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Timeline <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control datetimepicker" id="time3">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Weighting <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="weight3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="add-more" id="adddiv3" onclick="AddMore(3)">
                                <a href="javascript:void(0);"><i class="fa fa-plus-circle"></i> Add More</a>
                            </div>
                        </div>

                        <div class="card" hidden id="carddiv4">
                            <div class="card-body">
                                <h3 class="card-title">Contract Item <a href="javascript:void(0);"></a></h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Smart objectives <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="obj4">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> Evaluation Citerias <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="cri4">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Timeline <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control datetimepicker" id="time4">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Weighting <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="weight4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="add-more" id="adddiv4" onclick="AddMore(4)">
                                <a href="javascript:void(0);"><i class="fa fa-plus-circle"></i> Add More</a>
                            </div>
                        </div>

                        <div class="card" hidden id="carddiv5">
                            <div class="card-body">
                                <h3 class="card-title">Contract Item <a href="javascript:void(0);"></a></h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Smart objectives <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="obj5">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> Evaluation Citerias <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="cri5">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Timeline <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control datetimepicker" id="time5">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Weighting <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="weight5">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="add-more" id="adddiv5" onclick="AddMore(5)">
                                <a href="javascript:void(0);"><i class="fa fa-plus-circle"></i> Add More</a>
                            </div>
                        </div>

                        <div class="card" hidden id="carddiv6">
                            <div class="card-body">
                                <h3 class="card-title">Contract Item <a href="javascript:void(0);"></a></h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Smart objectives <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="obj6">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> Evaluation Citerias <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="cri6">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Timeline <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control datetimepicker" id="time6">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Weighting <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="weight6">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section" onclick="SubmitContract()">
                        <div class="btn btn-primary submit-btn">Submit</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Contract Item Info Modal -->

<!-- Contract Item Update Modal -->
<div id="contract_view_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Contract Objectives</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" placeholder="EmployeeId" readonly class="form-control" id="updateempno">
                            </div>
                        </div>
                    </div>
                    <div class="form-scroll" id="appendviewcontractitem">
                        @*from here*@

                        @*to here*@
                    </div>
                    <div class="submit-section" onclick="SignOffContract()" id="setsignoff">
                        <div class="btn btn-primary submit-btn">Sign Offs</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Contract Item Update Modal -->


@section Scripts{
    <script type="text/javascript">

        var selectedId;

        //on select of unregisterd nam action
        var targetGradeList = JSON.parse('@Json.Serialize(@Model.Employee)');

        //function OnSelect() {
        //    let selectedUser = $("#contractemployeeid option:selected").val();
        //    console.log(selectedUser);
        //    targetGradeList.forEach(function (entry) {
        //       if (entry.emp_No == selectedUser) {
        //           $("#contractemployeeno").val(entry.emp_No);
        //        }
        //    });
        //}

        function getItem(objectiveId) {
            getContractByObjective(objectiveId);
            selectedId = objectiveId;
        }

        function AddMore(divNo) {
            if (divNo == 1) {
                if ($("#obj1").val().trim().length && $("#cri1").val().trim().length && $("#time1").val().trim().length && $("#weight1").val().trim().length) {
                    document.getElementById('carddiv2').removeAttribute("hidden");
                    document.getElementById('adddiv1').setAttribute("hidden", true);
                }
                else {
                    toastr.warning("All previous field must be filled");
                }
            }
            else if (divNo == 2) {
                if ($("#obj1").val().trim().length && $("#cri1").val().trim().length && $("#time1").val().trim().length && $("#weight1").val().trim().length && $("#obj2").val().trim().length && $("#cri2").val().trim().length && $("#time2").val().trim().length && $("#weight2").val().trim().length) {
                    document.getElementById('carddiv3').removeAttribute("hidden");
                    document.getElementById('adddiv2').setAttribute("hidden", true);
                }
                else {
                    toastr.warning("All previous field must be filled");
                }
            }
            else if (divNo == 3) {
                if ($("#obj1").val().trim().length && $("#cri1").val().trim().length && $("#time1").val().trim().length && $("#weight1").val().trim().length && $("#obj2").val().trim().length && $("#cri2").val().trim().length && $("#time2").val().trim().length && $("#weight2").val().trim().length && $("#obj3").val().trim().length && $("#cri3").val().trim().length && $("#time3").val().trim().length && $("#weight3").val().trim().length) {
                    document.getElementById('carddiv4').removeAttribute("hidden");
                    document.getElementById('adddiv3').setAttribute("hidden", true);
                }
                else {
                    toastr.warning("All previous field must be filled");
                }
            }
            else if (divNo == 4) {
                if ($("#obj1").val().trim().length && $("#cri1").val().trim().length && $("#time1").val().trim().length && $("#weight1").val().trim().length && $("#obj2").val().trim().length && $("#cri2").val().trim().length && $("#time2").val().trim().length && $("#weight2").val().trim().length && $("#obj3").val().trim().length && $("#cri3").val().trim().length && $("#time3").val().trim().length && $("#weight3").val().trim().length && $("#obj4").val().trim().length && $("#cri4").val().trim().length && $("#time4").val().trim().length && $("#weight4").val().trim().length) {
                    document.getElementById('carddiv5').removeAttribute("hidden");
                    document.getElementById('adddiv4').setAttribute("hidden", true);
                }
                else {
                    toastr.warning("All previous field must be filled");
                }
            }
            else if (divNo == 5) {
                document.getElementById('carddiv6').removeAttribute("hidden");
                document.getElementById('adddiv5').setAttribute("hidden", true);
            }
        }

        function SubmitContract() {
            var dict = [];

            if ($("#obj1").val().trim().length) {
                contract1 = $("#obj1").val() + "|" + $("#cri1").val() + "|" + $("#time1").val() + "|" + $("#weight1").val()
                dict.push(contract1);
            }
            if ($("#obj2").val().trim().length) {
                contract2 = $("#obj2").val() + "|" + $("#cri2").val() + "|" + $("#time2").val() + "|" + $("#weight2").val()
                dict.push(contract2);
            }
            if ($("#obj3").val().trim().length) {
                contract3 = $("#obj3").val() + "|" + $("#cri3").val() + "|" + $("#time3").val() + "|" + $("#weight3").val()
                dict.push(contract3);
            }
            if ($("#obj4").val().trim().length) {
                contract4 = $("#obj4").val() + "|" + $("#cri4").val() + "|" + $("#time4").val() + "|" + $("#weight4").val()
                dict.push(contract4);
            }
            if ($("#obj5").val().trim().length) {
                contract5 = $("#obj5").val() + "|" + $("#cri5").val() + "|" + $("#time5").val() + "|" + $("#weight5").val()
                dict.push(contract5);
            }
            if ($("#obj6").val()) {
                contract6 = $("#obj6").val() + "|" + $("#cri6").val() + "|" + $("#time6").val() + "|" + $("#weight6").val()
                dict.push(contract6);
            }
            
            var employeeno = $("#contractemployeeid").val()

            AddContract(dict, employeeno);
        }

        function AddContract(contractItems, empNo) {
            $.ajax({
                url: '@Url.Action("AddContract", "Contract")',
                type: 'POST',
                dataType: 'json',
                data: { contractItem: contractItems, empNo: empNo},
                success: function (response) {
                    if (response.status) {
                        toastr.success(response ?.message)
                        $('#contract_info_modal').modal('hide');
                        location.reload();
                    }
                    else {
                        toastr.error(response ?.message)
                    }
                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function getContractByObjective(objectiveId) {
            $.ajax({
                url: '@Url.Action("GetByObjectiveId", "Contract")',
                type: 'POST',
                dataType: 'json',
                data: { objectiveId: objectiveId },
                success: function (response) {
                    if (response.status) {
                        for (var i = 0; i < response?.data?.item.length; i++) {
                            contractView = `
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">Contract Item <a href="javascript:void(0);"></a></h3>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Smart objectives <span class="text-danger">*</span></label>
                                                    <input type="text" value='${response?.data?.item[i].smartObjective}' class="form-control" id="" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label> Evaluation Citerias <span class="text-danger">*</span></label>
                                                    <input type="text" value='${response?.data?.item[i].evaluationCiteria}' class="form-control" id="" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Timeline <span class="text-danger">*</span></label>
                                                    <input type="text" value='${response?.data?.item[i].timeline}' class="form-control datetimepicker" id="" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Weighting <span class="text-danger">*</span></label>
                                                    <input type="number" value='${response?.data?.item[i].weighting}' class="form-control" id="" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Score Achieved <span class="text-danger">*</span></label>
                                                    <input type="number" value="${response?.data?.item[i].scoreAchieved}" class="form-control" id="scoreachieved">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Remark <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" value="${response?.data?.item[i].remark}" id="remark">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                `;
                            $("#appendviewcontractitem").append(contractView);
                        }

                       // $("#updateemployeeid").val(response?.data?.objectives?.employee?.lastName);setsignoff
                        $("#updateempno").val(response?.data?.objectives.emp_No);
                        if (response?.data?.objectives.isSignedOff) {
                            document.getElementById('setsignoff').setAttribute("hidden", true);
                        } IsSignedOff
                    }
                    else {
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function SignOffContract() {
            signOff(selectedId);
        }

        function signOff(contractId) {
            $.ajax({
                url: '@Url.Action("SignOffContract", "Contract")',
                type: 'POST',
                dataType: 'json',
                data: { contractId: contractId},
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message)
                        //$('#comment_pipquery').modal('hide');
                        location.reload();
                    }
                    else {
                        toastr.warning(response ?.message);
                    }
                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }
    </script>
}