@model ViewModel.Model.LoanViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Loan</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Services</a></li>
                    <li class="breadcrumb-item active">Loan</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_loan"><i class="fa fa-plus"></i> Add Loan</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <!-- Loan Statistics -->
    <div class="row">
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Emergency Loan</h6>
                <h4>₦@String.Format("{0:#,###0.00}", 2000)/₦@String.Format("{0:#,###0.00}", 200000)</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Housing Loan</h6>
                <h4>₦@String.Format("{0:#,###0.00}", 0)/₦@String.Format("{0:#,###0.00}", 278888)</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Medical Loan</h6>
                <h4>₦@String.Format("{0:#,###0.00}", 0)/₦@String.Format("{0:#,###0.00}", 989389)</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Other Loan</h6>
                <h4>₦@String.Format("{0:#,###0.00}", 0)/₦@String.Format("{0:#,###0.00}", 30000)</h4>
            </div>
        </div>
    </div>
    <!-- /Loan Statistics -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>Loan Type</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Amount Requested/Rate</th>
                            <th>Amount Approved/Rate</th>
                            <th>Monthly Deduction</th>
                            <th>Installment(s)</th>
                            <th class="text-center">Loan Status</th>
                            <th class="text-center">Approval Status</th>
                            <th>Last Processed By</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LoanTaken)
                        {
                            <tr>
                                <td>@item.LoanType.Name</td>
                                <td>@item.StartDate.ToString("dd MMMM yyyy")</td>
                                <td>@item.EndDate.ToString("dd MMMM yyyy")</td>
                                <td>₦@String.Format("{0:#,###0.00}", item.AmountRequested)/@item.InterestRate</td>
                                <td>₦@String.Format("{0:#,###0.00}", item.AmountApproved)//@item.InterestRate</td>
                                <td>₦@String.Format("{0:#,###0.00}", item.InstallmentAmount)</td>
                                <td>@item.NoOfInstallment</td>
                                <td class="text-center">
                                    <div class="action-label">
                                        <a class="btn btn-white btn-sm btn-rounded" href="javascript:void(0);">
                                            <i class="fa fa-dot-circle-o text-purple"></i> @item.LoanStatus
                                        </a>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="action-label">
                                        <a class="btn btn-white btn-sm btn-rounded" href="javascript:void(0);">
                                            <i class="fa fa-dot-circle-o text-purple"></i> @item.Status
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html" class="avatar avatar-xs"><img src="~/img/profiles/avatar-09.jpg" alt=""></a>
                                        <a href="#">@item.LastApprover</a>
                                    </h2>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_leave"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_approve"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<!-- Add Loan Modal -->
<div id="add_loan" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Request Loan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Loan Type <span class="text-danger">*</span></label>
                        <select class="select" id="loantypeid">
                            <option value="1">Select Loan Type - Interest Rate</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Amount <span class="text-danger">*</span></label>
                        <div>
                            <input class="form-control" type="text" id="loanamount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Start Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text" id="loandatefrom">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Number of Installments <span class="text-danger">*</span></label>
                        <input class="form-control" type="number" id="noofinstallment">
                    </div>

                    <div class="form-group" id="loandatetodiv" hidden>
                        <label>End date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text" id="loandateto">
                        </div>
                    </div>


                    <div class="form-group" id="monthlydeductiondiv" hidden>
                        <label>Monthly Deduction <span class="text-danger">*</span></label>
                        <div>
                            <input class="form-control" readonly type="text" id="frequencyamount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Reason <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" id="loanreason">
                    </div>
                    <div class="submit-section" onclick="RunLoanValidation()" id="validateloan">
                        <div class="btn btn-primary submit-btn">Validate</div>
                    </div>
                    <div class="submit-section" onclick="OnSubmitLoanRequest()" id="submitloan" hidden>
                        <div class="btn btn-primary submit-btn">Submit</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Loan Modal -->
<!-- Delete Leave Modal -->
<div class="modal custom-modal fade" id="delete_approve" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Leave</h3>
                    <p>Are you sure want to Cancel this leave?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Leave Modal -->


@section Scripts{
    <script type="text/javascript">

        var interestrate = 0;

        var loanTypeList = JSON.parse('@Json.Serialize(@Model.LoanType)');
        var loantypeid = $("#loantypeid").val();
        function OnExitSelect() {
            loanTypeList.forEach(function (entry) {
               if (entry.id == loantypeid) {
                   //$("#createddate").val(entry.noticeDate);
                   //$("#exitdate").val(entry.exitDate);
                   interestrate = entry.interestRate;
                }
            });
        }

        function RunLoanValidation() {
            var loanamount = $("#loanamount").val();
            var noofinstallment = $("#noofinstallment").val();
            var loandatefrom = $("#loandatefrom").val();
            var frequencymount = loanamount / noofinstallment;

            loandatefrom = stringToDate(loandatefrom);
            var loandateto = new Date(loandatefrom.setDate(loandatefrom.getMonth() + noofinstallment));

            $("#frequencyamount").val(frequencymount.toFixed(5));
            $("#loandateto").val(dateToString(loandateto));
            document.getElementById('submitloan').removeAttribute("hidden");
            document.getElementById('monthlydeductiondiv').removeAttribute("hidden");
            document.getElementById('loandatetodiv').removeAttribute("hidden");
            document.getElementById('validateloan').setAttribute("hidden", true);
        }

        function OnSubmitLoanRequest()
        {
            var loantypeid = $("#loantypeid").val();
            var loandatefrom = $("#loandatefrom").val();
            var loandateto = $("#loandateto").val();
            var noofinstallment = $("#noofinstallment").val();
            var frequencyamount = $("#frequencyamount").val();
            var loanamount = $("#loanamount").val();
            var loanreason = $("#loanreason").val();

            submitLoanForm(loantypeid, loandatefrom, loandateto, loanamount, interestrate, noofinstallment, loanreason, frequencyamount);
        }

        function submitLoanForm(loanTypeId, dateFrom, dateTo, amountRequested, interestRate, noOfInstallment, reason, frequencyAmount) {
            $.ajax({
                url: '@Url.Action("ApplyLoan", "Loan")',
                type: 'POST',
                dataType: 'json',
                data: { loanTypeId: loanTypeId, dateFrom: dateFrom, dateTo: dateTo, amountRequested: amountRequested, interestRate: interestRate, noOfInstallment: noOfInstallment, reason: reason, frequencyAmount: frequencyAmount },
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message);
                    }
                    else {
                        toastr.warning(response ?.message);
                    }
                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }
    </script>
}