@model ViewModel.Model.EmployeeViewModel

@{
    ViewData["Title"] = "Enroll";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}


<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Employee</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Administration</a></li>
                    <li class="breadcrumb-item active">Employee</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_employee"><i class="fa fa-plus"></i> Add Employee</a>
                <div class="view-icons">
                    <a href="employees.html" class="grid-view btn btn-link active"><i class="fa fa-th"></i></a>
                    <a href="employees-list.html" class="list-view btn btn-link"><i class="fa fa-bars"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating">
                <label class="focus-label">Employee ID</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating">
                <label class="focus-label">Employee Name</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus select-focus">
                <select class="select floating">
                    <option>Select DeptCode - Department</option>
                    @foreach (var item in Model.Departments)
                    {
                        <option value="@item.Id">@item.DeptCode - @item.Descc </option>
                    }
                </select>
                <label class="focus-label">Department</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#" class="btn btn-success btn-block"> Search </a>
        </div>
    </div>
    <!-- Search Filter -->

    <div class="row staff-grid-row">
        @foreach (var item in Model.EmployeeList)
        {
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget">
                    <div class="profile-img" onclick="">
                        <a class="avatar" href="@Url.Action("Profile", "Employee", new { id=item.Id })"><img src="~/img/user.jpg" alt=""></a>
                        <input class="form-control" type="text" hidden id="userid" value="@item.Id">
                    </div>
                    <div class="dropdown profile-action">
                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_employee"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                        </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="@Url.Action("Profile", "Employee", new { id=item.Id })">@item.Emp_No - @item.FirstName.ToLower() @item.LastName</a></h4>
                    @if (item.Department != null  && item.Department.Descc != null)
                    {
                        <div class="small text-muted">@item.Department.Descc</div>
                    }
                    else
                    {
                        <div class="small text-muted">Dept. Unverified</div>
                    }

                </div>
            </div>
        }
    </div>
</div>
<!-- /Page Content -->
<!-- Add Employee Modal -->
<div id="add_employee" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addEmployeeForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Select Employee <span class="text-danger">*</span></label>
                                <select name="pendinguser" class="select" id="pendinguser" onchange="OnSelect()">
                                    <option value="">Select Employee </option>
                                    @foreach (var item in Model.Employeee)
                                    {

                                        <option value="@item.Emp_No">@item.Emp_No - @item.FirstName  @item.LastName </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Employee ID <span class="text-danger">*</span></label>
                                <input name="empno" type="text" class="form-control" readonly id="empno" value="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">First Name <span class="text-danger">*</span></label>
                                <input name="firstname" class="form-control" type="text" readonly id="firstname">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Last Name</label>
                                <input name="lastname" class="form-control" type="text" readonly id="lastname">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Username <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" readonly id="username">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Email <span class="text-danger">*</span></label>
                                <input name="email" class="form-control" type="email" readonly id="email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <input  name="password"  class="form-control" type="password" id="password">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Confirm Password</label>
                                <input name="confirmpassword" class="form-control" type="password" id="confirmpassword">
                            </div>
                        </div>
                        @foreach (var item in Model.Roles)
                        {
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="checkbox" value="@item.Id" id="@item.Id"> @item.Description
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="submit-section">
                        <button type ="submit" class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Employee Modal -->
<!-- Edit Employee Modal -->
<div id="edit_employee" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Employee ID <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Email <span class="text-danger">*</span></label>
                                <input class="form-control" type="email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">First Name <span class="text-danger">*</span></label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Last Name</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Username <span class="text-danger">*</span></label>
                                <input class="form-control" type="text">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <input class="form-control" type="password">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Confirm Password</label>
                                <input class="form-control" type="password">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Role <span class="text-danger">*</span></label>
                                <select class="select">
                                    <option value="">Select</option>
                                    <option value="">General Administrator</option>
                                    <option value="1">Log Operator</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Employee Modal -->
<!-- Delete Employee Modal -->
<div class="modal custom-modal fade" id="delete_employee" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Employee</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Employee Modal -->

@section Scripts{
    <script type="text/javascript">

        //on select of unregisterd nam action
        var unregisteredList = JSON.parse('@Json.Serialize(@Model.Employeee)');

        //validation


        $("#addEmployeeForm").validate({
            // Specify validation rules
            rules: {
                pendinguser: "required",
                empno: "required",
                firstname: {
                    required: true,
                },
                lastname: {
                    required: true,
                },
                email: {
                    required: true,
                    email:true
                },
                password: {
                    required: true,
                },
                confirmpassword: {
                    required: true,
                    equalTo: "#password"
                },

            },
            // Specify validation error messages
            messages: {
                pendinguser: "Select an Employee",
                empno: "Employee Number required",
                firstname: {
                    required: "Employee First name required"
                },
                firstname: {
                    required: "Employee First name required"
                },
                lastname: {
                    required: "Employee Last name required"
                },
                email: {
                    required: "Employee First name required",
                    email: "Valid email required"
                },
                password: {
                    required: "Password field required",
                },
                confirmpassword: {
                    required: "Confirm password field required",
                    equalTo: "Passwords do not match"
                },
            },
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function (form)
            {
                event.preventDefault();
                SubmitRegisterDetail();
            }
        });
        function handleNonEmptyInput()
        {
            $('#addEmployeeForm input, #addEmployeeForm select').each(function (index, elem)
            {
                let element = $(elem);
                if (element.val() != "")
                {
                    let elementName = element.attr('name');
                    element.removeClass('error');
                    element.siblings(`#${elementName}-error`).hide();
                }
            });

        }
        

        function OnSelect() {
            let pendingUser = $("#pendinguser option:selected").val();
            if (pendingUser == "")
            {
                $("#empno").val("");
                $("#firstname").val("");
                $("#lastname").val("");
                $("#username").val("");
                $("#email").val("");
                return;
            }
            unregisteredList.forEach(function (entry) {
               if (entry.emp_No == pendingUser) {
                    $("#empno").val(entry.emp_No);
                    $("#firstname").val(entry.firstName);
                    $("#lastname").val(entry.lastName);
                    $("#username").val(entry.userName);
                    $("#email").val(entry.emailAddress);
                }
            });
            handleNonEmptyInput();
        }

        //submit button action
        var redirectUrl = '@Url.Action("Enroll","Employee")'; //redirect to emlpoyee profile page

        function SubmitRegisterDetail()
        {
            var email = $("#email").val();
            var empno = $("#empno").val();
            var firstname = $("#firstname").val();
            var lastname = $("#lastname").val();
            var username = $("#username").val();
            var password = $("#password").val();
            var confirmpassword = $("#confirmpassword").val();
            //var roleid = $("#roleid").val();
            var roleidlist = [];
            $('input[type=checkbox]').each(function () {
                if (this.checked) {
                    roleidlist.push(this.value);
                }
            });


            sendRegisterForm(email, password, confirmpassword, firstname, lastname, username, empno, roleidlist);
        }

        function sendRegisterForm(email, password, confirmPassword, firstName, lastName, userName, empNo, roleId) {

            $.ajax({
                url: '@Url.Action("Register", "Employee")',
                type: 'POST',
                dataType: 'json',
                data: { email: email, password: password, confirmPassword: confirmPassword, firstName: firstName, lastName: lastName, userName: userName, empNo: empNo, roleId: roleId },
                success: function (response) {
                    if (response.status) {
                        window.location.href = redirectUrl;
                        toastr.success(response?.message);
                    }
                    else {
                        toastr.warning(response ?.message);
                    }
                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

    </script>
}