@model ViewModel.Model.EmployeeProfileViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Profile</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a>Employee</a></li>
                    <li class="breadcrumb-item active">Profile</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="card mb-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                                <a href="#"><img alt="" src="~/img/user.jpg"></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0 mb-0">@Model.Employee.FirstName.ToLower() @Model.Employee.LastName</h3>
                                        @if (Model.Employee.Unit != null)
                                        {
                                            <h6 class="text-muted">UI/UX Design Team</h6>
                                        }
                                        else
                                        {
                                            <h6 class="text-muted">Unit: Unverified</h6>
                                        }
                                        @if (Model.Employee.Department != null)
                                        {
                                            <div class="staff-id">Department: Web Designer</div>
                                        }
                                        else
                                        {
                                            <div class="staff-id">Department: Unverified</div>
                                        }

                                        @if (Model.Employee.Division != null)
                                        {
                                            <div class="staff-id">Division: Web Designer</div>
                                        }
                                        else
                                        {
                                            <div class="staff-id">Division: Unverified</div>
                                        }

                                        <div class="staff-id">Employee ID : @Model.Employee.Emp_No</div>
                                        @if (Model.Employee.EmploymentDate != null)
                                        {
                                            <div class="small doj text-muted">Date of Join : @Model.Employee.EmploymentDate</div>
                                        }
                                        else
                                        {
                                            <div class="small doj text-muted">Date of Join : Unverified</div>
                                        }

                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <div class="title">GradeLevel</div>
                                            @if (Model.Employee.GradeLevel != null)
                                            {
                                                <div class="text"><a href="">Model.Employee.GradeLevel</a></div>
                                            }
                                            else
                                            {
                                                <div class="text"><a href="">Unverified</a></div>
                                            }

                                        </li>
                                        <li>
                                            <div class="title">Email:</div>
                                            <div class="text"><a href="">@Model.Employee.EmailAddress</a></div>
                                        </li>
                                        <li>
                                            <div class="title">Birthday:</div>
                                            <div class="text">@Model.Employee.DOB</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card tab-box">
        <div class="row user-tabs">
            <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
                <ul class="nav nav-tabs nav-tabs-bottom">
                    <li class="nav-item"><a href="#emp_profile" data-toggle="tab" class="nav-link active">Profile</a></li>
                    <li class="nav-item"><a href="#emp_update" data-toggle="tab" class="nav-link">Request Name Change</a></li>
                    <li class="nav-item"><a href="#emp_transfer" data-toggle="tab" class="nav-link">Request Transfer</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">

        <!-- Profile Info Tab -->
        <div id="emp_profile" class="pro-overview tab-pane fade show active">
            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="card profile-box flex-fill">
                        <div class="card-body">
                            <h3 class="card-title">Next Of Kin <a href="#" class="edit-icon" data-toggle="modal" data-target="#employee_nok_modal"><i class="fa fa-pencil"></i></a></h3>
                            <div class="table-responsive">
                                <table class="table table-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Relationship</th>
                                            <th>Date of Birth</th>
                                            <th>Phone</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var item in Model.NOKDetails)
                                        {
                                            <tr>
                                                <td>@item.LastName @item.FirstName</td>
                                                <td>@item.Relationship.Description</td>
                                                <td>@item.DOB?.ToString("dd MMMM yyyy")</td>
                                                <td>@item.PhoneNumber</td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a aria-expanded="false" data-toggle="dropdown" class="action-icon dropdown-toggle" href="#"><i class="material-icons">more_vert</i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                            <a href="#" class="dropdown-item"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <div class="card profile-box flex-fill">
                        <div class="card-body">
                            <h3 class="card-title">Family Dependents <a href="#" class="edit-icon" data-toggle="modal" data-target="#family_info_modal"><i class="fa fa-pencil"></i></a></h3>
                            <div class="table-responsive">
                                <table class="table table-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Relationship</th>
                                            <th>Date of Birth</th>
                                            <th>Phone</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Dependents)
                                        {
                                            <tr>
                                                <td>@item.LastName @item.FirstName</td>
                                                <td>@item.Relationship.Description</td>
                                                <td>@item.DOB?.ToString("dd MMMM yyyy")</td>
                                                <td>@item.PhoneNumber</td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a aria-expanded="false" data-toggle="dropdown" class="action-icon dropdown-toggle" href="#"><i class="material-icons">more_vert</i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                            <a href="#" class="dropdown-item"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="card profile-box flex-fill">
                        <div class="card-body">
                            <h3 class="card-title">Education Informations <a href="#" class="edit-icon" data-toggle="modal" data-target="#education_info"><i class="fa fa-pencil"></i></a></h3>
                            <div class="experience-box">
                                <ul class="experience-list">
                                    @foreach (var item in Model.EmployeeEducationDetail.Take(3))
                                    {
                                        <li>
                                            <div class="experience-user">
                                                <div class="before-circle"></div>
                                            </div>
                                            <div class="experience-content">
                                                <div class="timeline-content">
                                                    <a href="#" class="name">@item.Institution</a>
                                                    <div>@item.EducationalQualification.Description - @item.Course</div>
                                                    <span class="time">@item.StartDate.ToString("dd MMMM yyyy") - @item.EndDate.ToString("dd MMMM yyyy")</span>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex" onclick="GetWorkItem(this.id);" id="@Model.ApprovalWorkItem.Where(x => x.Name.ToLower() == "leave").FirstOrDefault().Id">
                    <div class="card profile-box flex-fill">
                        <div class="card-body">
                            <h3 class="card-title">Leave Approval Settings<a href="#" class="edit-icon" data-toggle="modal" data-target="#manage_employee"><i class="fa fa-pencil"></i></a></h3>
                            <div class="table-responsive m-t-15">
                                <table class="table table-striped custom-table">
                                    <thead>
                                        <tr>
                                            <th>Approval Work Level</th>
                                            <th class="text-center">Approval Supervisor/Manager</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.EmployeeApprovalconfig.Where(x => x.ApprovalWorkItem.Name.ToLower() == "leave").OrderBy(x => x.ApprovalLevel).Take(5))
                                        {
                                            <tr>
                                                <td>@item.ApprovalLevel.ToString()</td>
                                                <td class="text-center">
                                                    <select class="select" disabled>
                                                        <option value="" selected>@item.Processor</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <div class="card profile-box flex-fill">
                        <div class="card-body">
                            <h3 class="card-title">Loan Approval Settings<a href="#" class="edit-icon" data-toggle="modal" data-target="#manage_employee"><i class="fa fa-pencil"></i></a></h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Maximum Approval Count <span class="text-danger">*</span></label>
                                        <input class="form-control" readonly type="number">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive m-t-15">
                                <table class="table table-striped custom-table">
                                    <thead>
                                        <tr>
                                            <th>Approval Work Level</th>
                                            <th class="text-center">Approval Supervisor/Manager</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>First Level</td>
                                            <td class="text-center">
                                                <select class="select" disabled>
                                                    <option value="">Select</option>
                                                    <option value="">Lasisi Ola</option>
                                                    <option value="1">Ade Fortune</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Second Level</td>
                                            <td class="text-center">
                                                <select class="select" disabled>
                                                    <option value="">Select</option>
                                                    <option value="">Lasisi Ola</option>
                                                    <option value="1">Ade Fortune</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Third Level</td>
                                            <td class="text-center">
                                                <select class="select" disabled>
                                                    <option value="">Select</option>
                                                    <option value="">Lasisi Ola</option>
                                                    <option value="1">Ade Fortune</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Forth Level</td>
                                            <td class="text-center">
                                                <select class="select" disabled>
                                                    <option value="">Select</option>
                                                    <option value="">Lasisi Ola</option>
                                                    <option value="1">Ade Fortune</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <div class="card profile-box flex-fill">
                        <div class="card-body">
                            <h3 class="card-title">Transfer Approval Settings<a href="#" class="edit-icon" data-toggle="modal" data-target="#manage_employee"><i class="fa fa-pencil"></i></a></h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Maximum Approval Count <span class="text-danger">*</span></label>
                                        <input class="form-control" readonly type="number">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive m-t-15">
                                <table class="table table-striped custom-table">
                                    <thead>
                                        <tr>
                                            <th>Approval Work Level</th>
                                            <th class="text-center">Approval Supervisor/Manager</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>First Level</td>
                                            <td class="text-center">
                                                <select class="select" disabled>
                                                    <option value="">Select</option>
                                                    <option value="">Lasisi Ola</option>
                                                    <option value="1">Ade Fortune</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Second Level</td>
                                            <td class="text-center">
                                                <select class="select" disabled>
                                                    <option value="">Select</option>
                                                    <option value="">Lasisi Ola</option>
                                                    <option value="1">Ade Fortune</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Third Level</td>
                                            <td class="text-center">
                                                <select class="select" disabled>
                                                    <option value="">Select</option>
                                                    <option value="">Lasisi Ola</option>
                                                    <option value="1">Ade Fortune</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Forth Level</td>
                                            <td class="text-center">
                                                <select class="select" disabled>
                                                    <option value="">Select</option>
                                                    <option value="">Lasisi Ola</option>
                                                    <option value="1">Ade Fortune</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <div class="card profile-box flex-fill">
                        <div class="card-body">
                            <h3 class="card-title">Appraisal Approval Settings<a href="#" class="edit-icon" data-toggle="modal" data-target="#manage_employee"><i class="fa fa-pencil"></i></a></h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Maximum Approval Count <span class="text-danger">*</span></label>
                                        <input class="form-control" readonly type="number">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive m-t-15">
                                <table class="table table-striped custom-table">
                                    <thead>
                                        <tr>
                                            <th>Approval Work Level</th>
                                            <th class="text-center">Approval Supervisor/Manager</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>First Level</td>
                                            <td class="text-center">
                                                <select class="select" disabled>
                                                    <option value="">Select</option>
                                                    <option value="">Lasisi Ola</option>
                                                    <option value="1">Ade Fortune</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Second Level</td>
                                            <td class="text-center">
                                                <select class="select" disabled>
                                                    <option value="">Select</option>
                                                    <option value="">Lasisi Ola</option>
                                                    <option value="1">Ade Fortune</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Third Level</td>
                                            <td class="text-center">
                                                <select class="select" disabled>
                                                    <option value="">Select</option>
                                                    <option value="">Lasisi Ola</option>
                                                    <option value="1">Ade Fortune</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Forth Level</td>
                                            <td class="text-center">
                                                <select class="select" disabled>
                                                    <option value="">Select</option>
                                                    <option value="">Lasisi Ola</option>
                                                    <option value="1">Ade Fortune</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Profile Info Tab -->
        <!-- Employee Update Tab -->
        <div class="tab-pane fade" id="emp_update">
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Employee ID <span class="text-danger">*</span></label>
                            <input type="text" readonly class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Email <span class="text-danger">*</span></label>
                            <input class="form-control" type="email">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">First Name <span class="text-danger">*</span></label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Last Name</label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Username <span class="text-danger">*</span></label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="submit-section">
                    <button class="btn btn-primary submit-btn">Save</button>
                </div>
            </form>
        </div>
        <!-- /Employee Update Tab -->
        <!-- Transfer Tab -->
        <div class="tab-pane fade" id="emp_transfer">
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Employee ID <span class="text-danger">*</span></label>
                            <input type="text" readonly class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Current Division <span class="text-danger">*</span></label>
                            <select class="select" disabled>
                                <option value="">Select</option>
                                <option selected value="1">Finance</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Current Department <span class="text-danger">*</span></label>
                            <select class="select" disabled>
                                <option value="">Select</option>
                                <option selected value="1">Account</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Current Unit <span class="text-danger">*</span></label>
                            <select class="select" disabled>
                                <option value="">Select</option>
                                <option selected value="1">Account Payable</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Proposed Division <span class="text-danger">*</span></label>
                            <select class="select">
                                <option value="">Select</option>
                                <option value="">HR</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Proposed Department <span class="text-danger">*</span></label>
                            <select class="select">
                                <option value="">Select</option>
                                <option value="">Admin</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Proposed Unit <span class="text-danger">*</span></label>
                            <select class="select">
                                <option value="">Select</option>
                                <option value="">Staff Welfare</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="submit-section">
                    <button class="btn btn-primary submit-btn">Save</button>
                </div>
            </form>
        </div>
        <!-- /Transfer Tab -->

    </div>
</div>
<!-- /Page Content -->
<!-- Manage Employee Modal -->
<div id="manage_employee" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Manage Leave Approval</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Employee Name <span class="text-danger">*</span></label>
                                <input type="text" readonly value="@Model.Employee.FirstName @Model.Employee.LastName" class="form-control">
                                <input type="text" readonly hidden id="empno" value="@Model.Employee.Emp_No" class="form-control">
                                <input type="text" readonly hidden id="empid" value="@Model.Employee.Id" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Maximum Approval Count <span class="text-danger">*</span></label>
                                <a onclick="SubmitCount()"><input class="form-control" type="number" id="maxcount"><i class="fa fa-search-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive m-t-15">
                        <table class="table table-striped custom-table">
                            <thead>
                                <tr>
                                    <th>Approval Work Level</th>
                                    <th class="text-center">Approval Supervisor/Manager</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hideElement">
                                    <td>First Level</td>
                                    <td class="text-center">
                                        <select class="select" id="table1select">
                                            <option value="">Select</option>
                                            @foreach (var item in Model.UserRoles)
                                            {
                                                <option value="@item.Employee.Id">@item.Employee.LastName @item.Employee.LastName</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr class="hideElement" id="table2" hidden>
                                    <td>Second Level</td>
                                    <td class="text-center">
                                        <select class="select" id="table2select">
                                            <option value="">Select</option>
                                            @foreach (var item in Model.UserRoles)
                                            {
                                                <option value="@item.Employee.Id">@item.Employee.LastName @item.Employee.LastName</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr class="hideElement" id="table3" hidden>
                                    <td>Third Level</td>
                                    <td class="text-center">
                                        <select class="select" id="table3select">
                                            <option value="">Select</option>
                                            @foreach (var item in Model.UserRoles)
                                            {
                                                <option value="@item.Employee.Id">@item.Employee.LastName @item.Employee.LastName</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr class="hideElement" id="table4" hidden>
                                    <td>Fourth Level</td>
                                    <td class="text-center">
                                        <select class="select" id="table4select">
                                            <option value="">Select</option>
                                            @foreach (var item in Model.UserRoles)
                                            {
                                                <option value="@item.Employee.Id">@item.Employee.LastName @item.Employee.LastName</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr class="hideElement" id="table5" hidden>
                                    <td>Fifth Level</td>
                                    <td class="text-center">
                                        <select class="select" id="table5select">
                                            <option value="">Select</option>
                                            @foreach (var item in Model.UserRoles)
                                            {
                                                <option value="@item.Employee.Id">@item.Employee.LastName @item.Employee.LastName</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr class="hideElement" id="table6" hidden>
                                    <td>Sixth Level</td>
                                    <td class="text-center">
                                        <select class="select" id="table6select">
                                            <option value="">Select</option>
                                            @foreach (var item in Model.UserRoles)
                                            {
                                                <option value="@item.Employee.Id">@item.Employee.LastName @item.Employee.LastName</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr class="hideElement" id="table7" hidden>
                                    <td>Seventh Level</td>
                                    <td class="text-center">
                                        <select class="select" id="table7select">
                                            <option value="">Select</option>
                                            @foreach (var item in Model.UserRoles)
                                            {
                                                <option value="@item.Employee.Id">@item.Employee.LastName @item.Employee.LastName</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr class="hideElement" id="table8" hidden>
                                    <td>Eight Level</td>
                                    <td class="text-center">
                                        <select class="select" id="table8select">
                                            <option value="">Select</option>
                                            @foreach (var item in Model.UserRoles)
                                            {
                                                <option value="@item.Employee.Id">@item.Employee.LastName @item.Employee.LastName</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr class="hideElement" id="table9" hidden>
                                    <td>Nineth Level</td>
                                    <td class="text-center">
                                        <select class="select" id="table9select">
                                            <option value="">Select</option>
                                            @foreach (var item in Model.UserRoles)
                                            {
                                                <option value="@item.Employee.Id">@item.Employee.LastName @item.Employee.LastName</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr class="hideElement" id="table10" hidden>
                                    <td>Seventh Level</td>
                                    <td class="text-center">
                                        <select class="select" id="table10select">
                                            <option value="">Select</option>
                                            @foreach (var item in Model.UserRoles)
                                            {
                                                <option value="@item.Employee.Id">@item.Employee.LastName @item.Employee.LastName</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="submit-section" onclick="SubmitApprovalConfig()">
                        <div class="btn btn-primary submit-btn">Submit</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Manage Employee Modal -->
<!-- Personal Info Modal -->
<div id="personal_info_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Personal Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Passport No</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Passport Expiry Date</label>
                                <div class="cal-icon">
                                    <input class="form-control datetimepicker" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tel</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nationality <span class="text-danger">*</span></label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Religion</label>
                                <div class="cal-icon">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Marital status <span class="text-danger">*</span></label>
                                <select class="select form-control">
                                    <option>-</option>
                                    <option>Single</option>
                                    <option>Married</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Employment of spouse</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>No. of children </label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Personal Info Modal -->
<!-- NOK Info Modal -->
<div id="employee_nok_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Add a Next of Kin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-scroll">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Last Name <span class="text-danger">*</span></label>
                                            <input class="form-control" type="text" id="noklastname">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>First Name <span class="text-danger">*</span></label>
                                            <input class="form-control" type="text" id="nokfirstname">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Relationship <span class="text-danger">*</span></label>
                                            @*<input class="form-control" type="text" id="nokrelationshipid">*@
                                            <select class="select form-control" id="nokrelationshipid">
                                                <option>Select Relationship</option>
                                                @foreach (var item in Model.Relationshiop)
                                                {
                                                    <option value="@item.Id">@item.Description</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Date of birth <span class="text-danger">*</span></label>
                                            <input class="form-control datetimepicker" type="text" id="nokdob">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email <span class="text-danger">*</span></label>
                                            <input class="form-control" type="text" id="nokemail">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Phone <span class="text-danger">*</span></label>
                                            <input class="form-control" type="text" id="nokphonenumber">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Address <span class="text-danger">*</span></label>
                                            <input class="form-control" type="text" id="nokaddress">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section" onclick="SubmitNextOfKin()">
                        <div class="btn btn-primary submit-btn">Submit</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /NOK Info Modal -->

<!-- Dep Info Modal -->
<div id="family_info_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Add Dependent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-scroll">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Last Name <span class="text-danger">*</span></label>
                                            <input class="form-control" type="text" id="deplastname">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>First Name <span class="text-danger">*</span></label>
                                            <input class="form-control" type="text" id="depfirstname">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Relationship <span class="text-danger">*</span></label>
                                            @*<input class="form-control" type="text" id="nokrelationshipid">*@
                                            <select class="select form-control" id="deprelationshipid">
                                                <option>Select Relationship</option>
                                                @foreach (var item in Model.Relationshiop)
                                                {
                                                    <option value="@item.Id">@item.Description</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Date of birth <span class="text-danger">*</span></label>
                                            <input class="form-control datetimepicker" type="text" id="depdob">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Phone <span class="text-danger">*</span></label>
                                            <input class="form-control" type="text" id="depphonenumber">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Address <span class="text-danger">*</span></label>
                                            <input class="form-control" type="text" id="depaddress">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section" onclick="SubmitDependent()">
                        <div class="btn btn-primary submit-btn">Submit</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Dep Info Modal -->

<!-- Education Modal -->
<div id="education_info" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Education Informations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-scroll">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Education Informations</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-focus focused">
                                            <input type="text"  class="form-control floating" id="eduschool">
                                            <label class="focus-label">Institution</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus focused">
                                            <select class="select form-control" id="edulevelid">
                                                <option>Select Level</option>
                                                @foreach (var item in Model.EducationalLevel)
                                                {
                                                    <option value="@item.Id">@item.Description</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus focused">
                                            <div class="cal-icon">
                                                <input type="text"  class="form-control floating datetimepicker" id="edustartdate">
                                            </div>
                                            <label class="focus-label">Starting Date</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus focused">
                                            <div class="cal-icon">
                                                <input type="text"  class="form-control floating datetimepicker" id="eduenddate">
                                            </div>
                                            <label class="focus-label">Complete Date</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus focused">
                                            <input type="text" class="form-control floating" id="educourse">
                                            <label class="focus-label">Course</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus focused">
                                            <select class="select form-control" id="eduqualid">
                                                <option>Select Qualification</option>
                                                @foreach (var item in Model.EducationalQualification)
                                                {
                                                    <option value="@item.Id">@item.Description</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus focused">
                                            <select class="select form-control" id="edugradeid">
                                                <option>Select Grade</option>
                                                @foreach (var item in Model.EducationalGrade)
                                                {
                                                    <option value="@item.Id">@item.Description</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section" onclick="SubmitEducationInfo()">
                        <div class="btn btn-primary submit-btn">Submit</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Education Modal -->
<!-- Experience Modal -->
<div id="experience_info" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Experience Informations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-scroll">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Experience Informations <a href="javascript:void(0);" class="delete-icon"><i class="fa fa-trash-o"></i></a></h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating" value="Digital Devlopment Inc">
                                            <label class="focus-label">Company Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating" value="United States">
                                            <label class="focus-label">Location</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating" value="Web Developer">
                                            <label class="focus-label">Job Position</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <div class="cal-icon">
                                                <input type="text" class="form-control floating datetimepicker" value="01/07/2007">
                                            </div>
                                            <label class="focus-label">Period From</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <div class="cal-icon">
                                                <input type="text" class="form-control floating datetimepicker" value="08/06/2018">
                                            </div>
                                            <label class="focus-label">Period To</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Experience Informations <a href="javascript:void(0);" class="delete-icon"><i class="fa fa-trash-o"></i></a></h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating" value="Digital Devlopment Inc">
                                            <label class="focus-label">Company Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating" value="United States">
                                            <label class="focus-label">Location</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating" value="Web Developer">
                                            <label class="focus-label">Job Position</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <div class="cal-icon">
                                                <input type="text" class="form-control floating datetimepicker" value="01/07/2007">
                                            </div>
                                            <label class="focus-label">Period From</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <div class="cal-icon">
                                                <input type="text" class="form-control floating datetimepicker" value="08/06/2018">
                                            </div>
                                            <label class="focus-label">Period To</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-more">
                                    <a href="javascript:void(0);"><i class="fa fa-plus-circle"></i> Add More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Experience Modal -->

@section Scripts{
    <script type="text/javascript">

        var countApproval = 0;
        var workItem;

        function GetWorkItem(item) {
            workItem = item;
            console.log(workItem);
        }

        function SubmitCount()
        {
            var count = $("#maxcount").val();

            sendApprovalCount(count);
        }

        function SubmitNextOfKin()
        {
            var nokemail = $("#nokemail").val();
            var nokphoneno = $("#nokphonenumber").val();
            var nokfirstname = $("#nokfirstname").val();
            var noklastname = $("#noklastname").val();
            var nokaddress = $("#nokaddress").val();
            var nokdob = $("#nokdob").val();
            var nokrelationshipid = $("#nokrelationshipid").val();

            AddNextOfKin(nokfirstname, noklastname, nokemail, nokphoneno, nokaddress, nokrelationshipid, nokdob);
        }

        function SubmitDependent()
        {
            var depphoneno = $("#depphonenumber").val();
            var depfirstname = $("#depfirstname").val();
            var deplastname = $("#deplastname").val();
            var depaddress = $("#depaddress").val();
            var depdob = $("#depdob").val();
            var deprelationshipid = $("#deprelationshipid").val();

            AddDependents(depfirstname, deplastname, depphoneno, depaddress, deprelationshipid, depdob);
        }

        function SubmitApprovalConfig() {
            var dict = new Object();
            var maxcount = $("#maxcount").val();
            var empno = $("#empno").val();
            var empid = $("#empid").val();
            dict[1] = $("#table1select").val();
            if (maxcount >= 2) {
                dict[2] = $("#table2select").val();
            }
            if (maxcount >= 3) {
                dict[3] = $("#table3select").val();
            }
            if (maxcount >= 4 ) {
                dict[4] = $("#table4select").val();
            }
            if (maxcount >= 5 ) {
                dict[5] = $("#table5select").val();
            }
            if (maxcount >= 6 ) {
                dict[6] = $("#table6select").val();
            }
            if (maxcount >= 7 ) {
                dict[7] = $("#table7select").val();
            }
            if (maxcount >= 8 ) {
                dict[8] = $("#table8select").val();
            }
            if (maxcount >= 9 ) {
                dict[9] = $("#table9select").val();
            }
            if (maxcount >= 10 ) {
                dict[10] = $("#table10select").val();
            }

            AddApprovalConfigs(workItem, empid, empno, dict, maxcount);
        }

        function SubmitEducationInfo()
        {
            var eduschool = $("#eduschool").val();
            var edulevelid = $("#edulevelid").val();
            var educourse = $("#educourse").val();
            var eduqualid = $("#eduqualid").val();
            var edugradeid = $("#edugradeid").val();
            var edustartdate = $("#edustartdate").val();
            var eduenddate = $("#eduenddate").val();

            AddEducationalInfo(eduschool, edulevelid, eduqualid, educourse, edugradeid, edustartdate, eduenddate);
        }

        function sendApprovalCount(count) {
            $.ajax({
                url: '@Url.Action("CountProcessor", "Employee")',
                type: 'POST',
                dataType: 'json',
                data: { approvalCount: count},
                success: function (response) {
                    if (response.status) {
                        ProcessField(response?.data)
                    }
                    else {
                        countApproval = 0;
                    }
                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        //var redirectUrl = '@Url.Action("Profile", "Employee", new { id="default" })';
        var redirectUrl = '@Url.Action("Employee", "Dashboard")';
        function AddNextOfKin(nokFirstName, nokLastName, nokEmail, nokPhoneNumber, nokAddress, nokrelationshipId, nokDob ) {
            $.ajax({
                url: '@Url.Action("AddNextOfKin", "Employee")',
                type: 'POST',
                dataType: 'json',
                data: { noKFirstName: nokFirstName,  nokLastName: nokLastName, nokPhonenumber: nokPhoneNumber, nokEmail: nokEmail, nokRelationShipId: nokrelationshipId, nokAddress:  nokAddress, nokDOB: nokDob},
                success: function (response) {
                    if (response.status) {
                        window.location.href = redirectUrl;
                    }
                    else {
                        toastr.error(response?.message);
                    }
                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function AddDependents(depFirstName, depLastName, depPhoneNumber, depAddress, deprelationshipId, depDob ) {
            $.ajax({
                url: '@Url.Action("AddDependent", "Employee")',
                type: 'POST',
                dataType: 'json',
                data: { depFirstName: depFirstName,  depLastName: depLastName, depPhonenumber: depPhoneNumber, depRelationShipId: deprelationshipId, depAddress:  depAddress, depDOB: depDob},
                success: function (response) {
                    if (response.status) {
                        $('#family_info_modal').modal('hide');
                    }
                    else {
                        window.location.href = redirectUrl;
                    }
                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function AddApprovalConfigs(workItem, employeeId, empNo, levelApproval  ,maxcount ) {
            $.ajax({
                url: '@Url.Action("AddApprovalConfig", "Employee")',
                type: 'POST',
                dataType: 'json',
                data: { workItem: workItem, employeeId: employeeId, empNo: empNo, levelApproval: levelApproval, maxcount: maxcount},
                success: function (response) {
                    if (response.status) {
                    }
                    else {
                    }
                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function AddEducationalInfo(institution, level, qualification, course, grade ,startdate, enddate ) {
            $.ajax({
                url: '@Url.Action("AddEducationaldetail", "Employee")',
                type: 'POST',
                dataType: 'json',
                data: {institution: institution, level: level, qualification: qualification, course: course, grade: grade, startDate: startdate, endDate: enddate },
                success: function (response) {
                    if (response.status) {
                    }
                    else {
                    }
                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

    </script>
}
