@model ViewModel.Model.AppraisalViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Performance Appraisal</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a>Performance</a></li>
                    <li class="breadcrumb-item active">Employee-Appraisal</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_appraisal"><i class="fa fa-plus"></i> Add New</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>Appraisal Date</th>
                            <th>Next Processor/Supervisor</th>
                            <th>Last Processed Date</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.EmployeeAppraisal)
                        {
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html" class="avatar"><img alt="" src="assets/img/profiles/avatar-02.jpg"></a>
                                        <a href="profile.html">@item.CreatedDate.ToString("dd MMMM yyyy")</a>
                                    </h2>
                                </td>
                                <td>@item.NextRatingManagerId</td>
                                @if (item.UpdatedDate != null)
                                {
                                    <td>@item.UpdatedDate?.ToString("dd MMMM yyyy")</td>
                                }
                                else
                                {
                                    <td>@item.CreatedDate.ToString("dd MMMM yyyy")</td>
                                }

                                <td class="text-right">
                                    <div><a href="@Url.Action("PerformanceReview", "Appraisal", new { appraisalId=item.Id })">view/signoff</a></div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Performance Appraisal Modal -->
<div id="add_appraisal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Give Performance Appraisal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @if (Model.Employee.StaffType == "STDEMP")
            {
                <div style="text-align:center">
                    <a href="~/Guides/STDAppraisalGuide.docx">Click for the detail instruction</a>
                </div>
            }
            else if (Model.Employee.StaffType == "DRVEMP")
            {
                <div style="text-align:center">
                    <a href="~/Guides/DRVAppraisalGuide.docx">Click for the detail instruction</a>
                </div>
            }
            else if (Model.Employee.StaffType == "BTOEMP")
            {
                <div style="text-align:center">
                    <a href="~/Guides/BTOAppraisalGuide.docx">Click for the detail instruction</a>
                </div>
            }
            else
            {
                <div style="text-align:center">
                    <a href="~/Guides/UnknownAppraisalGuide.docx">Click for the detail instruction</a>
                </div>
            }

            <div class="modal-body">
                <form>
                    <div class="row">
                        @foreach (var category in Model.AppraisalCategories)
                        {
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header" style="background-color:#01b8e2">
                                        <h4 class="card-title mb-0">@category.Description</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Indicator</th>
                                                        <th>Employee Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var categoryItem in Model.AppraisalCategoryItems.Where(x => x.AppraisalCategoryCode.ToLower() == category.AppraisalCategoryCode.ToLower() && x.StaffType.ToLower() == Model.Employee.StaffType.ToLower()))
                                                    {
                                                        <tr>
                                                            <td>@categoryItem.Description</td>
                                                            <td>
                                                                <select name="customer_experience" class="form-control" id="appraisalrating">
                                                                    @foreach (var item in Model.AppraisalRatings)
                                                                    {
                                                                        <option value="@category.Id/@categoryItem.Id/@item.Id">@item.Weight - @item.Description</option>
                                                                    }
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="submit-section" onclick="SubmitAppraisal()">
                        <div class="btn btn-primary submit-btn">Submit</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Performance Appraisal Modal -->
<!-- Review Performance Appraisal Modal -->
<div id="view_appraisal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Appraisal Form</h5>
                <h2>- (might have undergo Manager Review)</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row" id="appendAppraisal">
                        @*@foreach (var item in Model.AppraisalCategories)
            {
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header" style="background-color:#01b8e2">
                            <h4 class="card-title mb-0" id="categorydescription">@item.Description</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>Indicator</th>
                                            <th>Employee Value</th>
                                            <th>Supervisor Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>CategoryItem Name</td>
                                            <td>Initial Value</td>
                                            <td>
                                                <select name="customer_experience" class="form-control">
                                                    <option value="">Select New</option>
                                                    @foreach (var rating in Model.AppraisalRatings)
                                                    {
                                                        <option value="@rating.Id">@rating.Description</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }*@
                    </div>

                    <div class="form-group">
                        <label><span>Discussions</span></label>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Strenghts (Discuss staff’s strenghts from above)</span></label>
                        <textarea rows="5" class="form-control" readonly disabled id="appraisalstrenght"></textarea>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Weaknesses (Discuss staff’s weaknesses from above)</span></label>
                        <textarea rows="5" class="form-control" readonly disabled id="appraisalweekness"></textarea>
                    </div>
                    <div class="form-group">
                        <label><span>Recommendations</span></label>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Further Counselling</span></label>
                        <textarea rows="5" class="form-control" readonly disabled id="appraisalcounselling"></textarea>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Redeployment</span></label>
                        <textarea rows="5" class="form-control" readonly disabled id="appraisalredeployement"></textarea>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Career Development</span></label>
                        <textarea rows="5" class="form-control" readonly disabled id="appraisaldevelopment"></textarea>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Disciplinary Action</span></label>
                        <textarea rows="5" class="form-control" readonly disabled id="appraisalaction"></textarea>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Training Needs</span></label>
                        <textarea rows="5" class="form-control" readonly disabled id="appraisaltraining"></textarea>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Promotion</span></label>
                        <textarea rows="5" class="form-control" readonly disabled id="appraisalpromotion"></textarea>
                    </div>
                    <div class="form-group">
                        <label><span class="text-danger">Other Actions</span></label>
                        <textarea rows="5" class="form-control" readonly disabled id="appraisaldetail"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Next Appraisal Period Target <span class="text-danger">*</span></label>
                        <textarea type="text" readonly placeholder="No Comment Yet" disabled class="form-control" id="appraisaltarget"></textarea>
                    </div>
                    <div class="form-group" id="appraisalcommentdiv">
                        <label>Appraisee's Comment (put your comment here) <span class="text-danger">*</span></label>
                        <textarea type="text" readonly placeholder="No Comment Yet" class="form-control" id="appraisalempcomment"></textarea>
                    </div>
                    <div class="form-group" id="appraisalimprovediv">
                        <label>What are the agreed means of redressing areas in need of improvement <span class="text-danger">*</span></label>
                        <textarea type="text" readonly placeholder="No Comment Yet" class="form-control" id="appraisalempimprove"></textarea>
                    </div>
                    <div class="row" hidden id="showsignoff" onclick="SignOff()">
                        <input class="form-control" hidden type="text" id="appraisalid">
                        <div class="col-12">
                            <a class="btn btn-primary continue-btn">SignOff <i class="fa fa-check text-success"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Review Performance Appraisal Modal -->

@section Scripts{
    <script type="text/javascript">
        var appraisalList = JSON.parse('@Json.Serialize(@Model.AppraisalCategories)');
        var ratingList = JSON.parse('@Json.Serialize(@Model.AppraisalRatings)');

        function SubmitAppraisal() {
            var dict = [];
            $('select[id=appraisalrating]').each(function () {
                dict.push(this.value);
            });
            //console.log(dict);
            AddAppraisal(dict);
        }

        function AddAppraisal(catItemWeight) {
            $.ajax({
                url: '@Url.Action("AddAppraisal", "Appraisal")',
                type: 'POST',
                dataType: 'json',
                data: { catItemWeight: catItemWeight},
                success: function (response) {
                    if (response.status) {
                        toastr.success(response ?.message)
                        $('#add_appraisal').modal('hide');
                        location.reload();
                    }
                    else {
                        toastr.error(response ?.message)
                    }
                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function OnAppraisalSelect(appraisalId) {
            getAppraisalById(appraisalId, true);
        }

        function PrintCategoryItem(items, categoryId) {
            var str;
            var newItemList = items.filter(x => x.appraisalCategoryId == categoryId);
            for (var i = 0; i < newItemList.length; i++) {
                str += `<tr>
                        <td>${newItemList[i].appraisalCategoryItem.description}</td>
                        <td>${newItemList[i].appraisalRating.description}</td>
                    </tr>`;
            }
            return str;
        }

        function getAppraisalById(appraisalId) {
            $.ajax({
                url: '@Url.Action("PerformanceReview", "Appraisal")',
                type: 'POST',
                dataType: 'json',
                data: { appraisalId: appraisalId},
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message)
                        $('#view_appraisal').modal('hide');
                        location.reload();
                    }
                    else {
                        toastr.error("record not found");
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function getAppraisalByIds(appraisalId, isAppraisalView) {
            $.ajax({
                url: '@Url.Action("getAppraisalById", "Appraisal")',
                type: 'POST',
                dataType: 'json',
                data: { appraisalId: appraisalId, isAppraisalView: isAppraisalView },
                success: function (response) {
                    if (response.status) {
                        for (var i = 0; i < appraisalList.length; i++) {
                            appraisalView = `
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header" style="background-color:#01b8e2">
                                            <h4 class="card-title mb-0" id="categorydescription">${appraisalList[i].description}</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>Indicator</th>
                                                            <th>Employee Value</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        ${PrintCategoryItem(response?.data?.detail, appraisalList[i].id)}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                `;
                            $("#appendAppraisal").append(appraisalView);
                        }
                        $("#appraisalserviceid").val(response?.data?.serviceId);
                        $("#appraisallevel").val(response?.data?.level);
                        $("#appraisalid").val(response?.data?.apparaisalid);

                        $("#appraisalstrenght").val(response?.data?.strenght);
                        $("#appraisalweekness").val(response?.data?.weekness);
                        $("#appraisalcounselling").val(response?.data?.counselling);
                        $("#appraisalredeployement").val(response?.data?.redeployment);
                        $("#appraisaldevelopment").val(response?.data?.development);
                        $("#appraisalaction").val(response?.data?.action);
                        $("#appraisaltraining").val(response?.data?.training);
                        $("#appraisalpromotion").val(response?.data?.promotion);
                        $("#appraisaldetail").val(response?.data?.others);
                        $("#appraisalempcomment").val(response?.data?.appraiseeComment);
                        $("#appraisalempimprove").val(response?.data?.areaOfImprovement);
                        $("#appraisaltarget").val(response?.data?.appraisalTarget);

                        if (response?.data?.unsigned) {
                            document.getElementById('showsignoff').removeAttribute("hidden");
                        }
                        if (response?.data?.employeeReview) {
                            $("#appraisalempcomment").attr("readonly", true);
                            $("#appraisalempimprove").attr("readonly", true);
                        }
                        if (response?.data?.managerSignOff) {
                            $("#appraisalempcomment").attr("readonly", false);
                            $("#appraisalempimprove").attr("readonly", false);
                            //document.getElementById('appraisalempcomment').disabled = false;
                        }
                    }
                    else {
                        toastr.error("record not found");
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        
    </script>
}
