@model ViewModel.Model.AppraisalViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Performance Appraisal</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a>Performance</a></li>
                    <li class="breadcrumb-item active">Employee-Appraisal</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_appraisal"><i class="fa fa-plus"></i> Add New</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>Appraisal Date</th>
                            <th>Last Processor/Supervisor</th>
                            <th>Last Processed Date</th>
                            <th>Next Supervisor</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.EmployeeAppraisal)
                        {
                        <tr>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="profile.html" class="avatar"><img alt="" src="assets/img/profiles/avatar-02.jpg"></a>
                                    <a href="profile.html">@item.CreatedDate.ToString("dd MMMM yyyy")</a>
                                </h2>
                            </td>
                            <td>@item.LastRatingManagerName</td>
                            @if (item.UpdatedDate != null)
                            {
                                <td>@item.UpdatedDate?.ToString("dd MMMM yyyy")</td>
                            }
                            else
                            {
                                 <td>@item.CreatedDate.ToString("dd MMMM yyyy")</td>
                            }

                            <td> @item.NextRatingManagerName </td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_appraisal"><i class="fa fa-pencil m-r-5"></i> View</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#"><i class="fa fa-address-book-o m-r-5"></i> Sign Off</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<!-- Add Performance Appraisal Modal -->
<div id="add_appraisal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Give Performance Appraisal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        @foreach (var category in Model.AppraisalCategories)
                        {
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header" style="background-color:#daa520">
                                        <h4 class="card-title mb-0">@category.Description</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Indicator</th>
                                                        <th>Employee Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var categoryItem in Model.AppraisalCategoryItems.Where(x => x.AppraisalCategoryCode.ToLower() == category.AppraisalCategoryCode.ToLower() && x.StaffType.ToLower() == Model.Employee.StaffType.ToLower()))
                                                    {
                                                        <tr>
                                                            <td>@categoryItem.Description</td>
                                                            <td>
                                                                <select name="customer_experience" class="form-control" id="appraisalrating">
                                                                    @foreach (var item in Model.AppraisalRatings)
                                                                    {
                                                                        <option value="@category.Id/@categoryItem.Id/@item.Id">@item.Description</option>
                                                                    }
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="submit-section" onclick="SubmitAppraisal()">
                        <div class="btn btn-primary submit-btn">Submit</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Performance Appraisal Modal -->

@section Scripts{
    <script type="text/javascript">

        function SubmitAppraisal() {
            var dict = [];
            $('select[id=appraisalrating]').each(function () {
                dict.push(this.value);
            });
            //console.log(dict);
            AddAppraisal(dict);
        }

        function AddAppraisal(catItemWeight) {
            $.ajax({
                url: '@Url.Action("AddAppraisal", "Appraisal")',
                type: 'POST',
                dataType: 'json',
                data: { catItemWeight: catItemWeight},
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message)
                    }
                    else {
                        toastr.error(response ?.message)
                    }
                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }
    </script>
}
