@model ViewModel.Model.AppraisalViewModel
@{
    ViewData["Title"] = "PerformanceReview";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Performance Review</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a>Performance</a></li>
                    <li class="breadcrumb-item active">Employee-Appraisal</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="row">
                    @foreach (var category in Model.AppraisalCategories)
                    {
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header" style="background-color:#01b8e2">
                                    <h4 class="card-title mb-0">@category.Description</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Indicator</th>
                                                    <th>Employee Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var categoryItem in Model.AppraisalItem.Where(x => x.AppraisalCategory.AppraisalCategoryCode.ToLower() == category.AppraisalCategoryCode.ToLower()))
                                                {
                                                    <tr>
                                                        <td>@categoryItem.AppraisalCategoryItem.Description</td>
                                                        <td>@categoryItem.AppraisalRating.Description</td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div>
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <strong>Total Appraisal Score: @Model.TargetAppraisal.TotalScore/@Model.TargetAppraisal.TotalNetScore</strong> <div id="totalappraisalscore"></div>
                    </div>
                </div>
                @if (Model.IsContractible)
                {
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">Contract Objectives for @DateTime.Now.AddYears(-1).Year</h4>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">

                                    <table class="table table-striped mb-0">
                                        <thead>
                                            <tr>
                                                <th>Smart Objectives</th>
                                                <th>Criteria</th>
                                                <th>TimeLine</th>
                                                <th>Weighing</th>
                                                <th>Achieved-Score</th>
                                                <th>Weighted-Score</th>
                                                <th>Remark</th>
                                            </tr>
                                        </thead>
                                        <tbody id="contractitemlist">
                                            @*here goes contract item attachment*@
                                            @if (Model.ContractItem != null)
                                            {
                                                @foreach (var item in Model.ContractItem)
                                                {
                                                    <tr>
                                                        <th>@item.SmartObjective</th>
                                                        <th>@item.EvaluationCiteria</th>
                                                        <th>@item.Timeline</th>
                                                        <th>@item.Weighting</th>
                                                        <th>@item.ScoreAchieved</th>
                                                        <th>@item.WeightedSore</th>
                                                        <th>@item.Remark</th>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>


                                </div>
                                <div>
                                    @if (Model.ContractObjective != null)
                                    {
                                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                            <strong>Total Weighed Score: @Model.ContractObjective.TotalWeightedSore / 50</strong> <div id="totalweight"></div>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <label><span>Discussions</span></label>
                </div>
                <div class="form-group">
                    <label><span class="text-danger">Strenghts (Discuss staff’s strenghts from above)</span></label>
                    <textarea rows="5" class="form-control" placeholder="@Model.TargetAppraisal.Strenght" readonly disabled id="appraisalstrenght"></textarea>
                </div>
                <div class="form-group">
                    <label><span class="text-danger">Weaknesses (Discuss staff’s weaknesses from above)</span></label>
                    <textarea rows="5" class="form-control" placeholder="@Model.TargetAppraisal.Weekness" readonly disabled id="appraisalweekness"></textarea>
                </div>
                <div class="form-group">
                    <label><span>Recommendations</span></label>
                </div>
                <div class="form-group">
                    <label><span class="text-danger">Further Counselling</span></label>
                    <textarea rows="5" class="form-control" placeholder="@Model.TargetAppraisal.Counselling" readonly disabled id="appraisalcounselling"></textarea>
                </div>
                <div class="form-group">
                    <label><span class="text-danger">Redeployment</span></label>
                    <textarea rows="5" class="form-control" placeholder="@Model.TargetAppraisal.Redeployment" readonly disabled id="appraisalredeployement"></textarea>
                </div>
                <div class="form-group">
                    <label><span class="text-danger">Career Development</span></label>
                    <textarea rows="5" class="form-control" placeholder="@Model.TargetAppraisal.Development" readonly disabled id="appraisaldevelopment"></textarea>
                </div>
                <div class="form-group">
                    <label><span class="text-danger">Disciplinary Action</span></label>
                    <textarea rows="5" placeholder="@Model.TargetAppraisal.DisciplinaryAction" class="form-control" readonly disabled id="appraisalaction"></textarea>
                </div>
                <div class="form-group">
                    <label><span class="text-danger">Training Needs</span></label>
                    <textarea rows="5" placeholder="@Model.TargetAppraisal.Training" class="form-control" readonly disabled id="appraisaltraining"></textarea>
                </div>
                <div class="form-group">
                    <label><span class="text-danger">Promotion</span></label>
                    <textarea rows="5" placeholder="@Model.TargetAppraisal.Promotion" class="form-control" readonly disabled id="appraisalpromotion"></textarea>
                </div>
                <div class="form-group">
                    <label><span class="text-danger">Other Actions</span></label>
                    <textarea rows="5" placeholder="@Model.TargetAppraisal.OtherDetail" class="form-control" readonly disabled id="appraisaldetail"></textarea>
                </div>
                <div class="form-group">
                    <label>Next Appraisal Period Target <span class="text-danger">*</span></label>
                    <textarea type="text" readonly placeholder="@Model.TargetAppraisal.AppraisalTarget" disabled class="form-control" id="appraisaltarget"></textarea>
                </div>
                <div class="form-group" id="appraisalcommentdiv">
                    <label>Appraisee's Comment (put your comment here) <span class="text-danger">*</span></label>
                    <textarea type="text" placeholder="@Model.TargetAppraisal.AppraiseeComment" class="form-control" id="appraisalempcomment"></textarea>
                </div>
                <div class="form-group" id="appraisalimprovediv">
                    <label>What are the agreed means of redressing areas in need of improvement <span class="text-danger">*</span></label>
                    <textarea type="text" placeholder="@Model.TargetAppraisal.AreaOfImprovement" class="form-control" id="appraisalempimprove"></textarea>
                </div>
                <div class="form-group" id="appraisalimprovediv">
                    <label>Manager Comment <span class="text-danger">*</span></label>
                    <textarea type="text" readonly placeholder="@Model.TargetAppraisal.ManagerComment" class="form-control" id=""></textarea>
                </div>
                <div class="form-group" hidden>
                    <label><span class="text-danger">*</span></label>
                    <div class="cal-icon">
                        <input class="form-control" readonly type="text" value="@Model.TargetAppraisal.Id" id="appraisalid">
                    </div>
                </div>

                @if (Model.TargetAppraisal.IsManagerSignOff && !Model.TargetAppraisal.IsEmployeeSignOff)
                {
                    <div class="submit-section" onclick="SignOff()">
                        <div class="btn btn-primary submit-btn">Signoff</div>
                    </div>
                }
            </form>
        </div>
    </div>
</div>
<!-- /Page Content -->


@section Scripts{
    <script type="text/javascript">

       function SignOff() {
            var appraisalid = $("#appraisalid").val();
            var appraiseeecomment = $("#appraisalempcomment").val();
            var appraisalempimprove = $("#appraisalempimprove").val();
            submitSignOff(appraisalid, appraiseeecomment, appraisalempimprove);
        }

        function submitSignOff(appraisalId, appraiseeecomment, appraisalempimprove) {
            $.ajax({
                url: '@Url.Action("SignOffAppraisal", "Appraisal")',
                type: 'POST',
                dataType: 'json',
                data: { appraisalId: appraisalId, appraiseeComment: appraiseeecomment, appraiseeImprove: appraisalempimprove },
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message)
                        $('#view_appraisal').modal('hide');
                        location.reload();
                    }
                    else {
                        toastr.error("record not found");
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

    </script>
}