<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Smarthr - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">

    <!-- Lineawesome CSS -->
    <link rel="stylesheet" href="~/css/line-awesome.min.css">

    <!-- Datatable CSS -->
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="~/css/select2.min.css">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css">

    <!-- Tagsinput CSS -->
    <link rel="stylesheet" href="~/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/css/style.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">

    <!-- Toastr CSS -->
    <link rel="stylesheet" href="~/css/toastr.css">

    <!-- Summernote CSS -->
    <link rel="stylesheet" href="~/plugins/summernote/dist/summernote-bs4.css">

    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div class="main-wrapper">
        <!-- Loader -->
        <div id="loader-wrapper">
            <div id="loader">
                <div class="loader-ellips">
                    <span class="loader-ellips__dot"></span>
                    <span class="loader-ellips__dot"></span>
                    <span class="loader-ellips__dot"></span>
                    <span class="loader-ellips__dot"></span>
                </div>
            </div>
        </div>
        <!-- /Loader -->
        <!-- Header -->
        <div class="header">

            <!-- Logo -->
            <div class="header-left">
                <a href="index.html" class="logo">
                    <img src="~/img/logo.png" width="40" height="40" alt="">
                </a>
            </div>
            <!-- /Logo -->

            <a id="toggle_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <!-- Header Title -->
            <div class="page-title-box">
                <h3>Peers Consulting</h3>
            </div>
            <!-- /Header Title -->

            <a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>

            <!-- Header Menu -->
            <ul class="nav user-menu">

                <!-- Search -->
                <li class="nav-item">
                    <div class="top-nav-search">
                        <a href="javascript:void(0);" class="responsive-search">
                            <i class="fa fa-search"></i>
                        </a>
                        <form action="search.html">
                            <input class="form-control" type="text" placeholder="Search here">
                            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </li>
                <!-- /Search -->
                <!-- Flag -->
                <li class="nav-item dropdown has-arrow flag-nav">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                        <img src="" alt="" height="20"> <span>English</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="" alt="" height="16"> English
                        </a>
                    </div>
                </li>
                <!-- /Flag -->
                <!-- Notifications -->
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i> <span class="badge badge-pill">3</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">
                                                <img alt="" src="~/img/profiles/avatar-02.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">
                                                <img alt="" src="~/img/profiles/avatar-03.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
                                                <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">
                                                <img alt="" src="~/img/profiles/avatar-06.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
                                                <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">
                                                <img alt="" src="~/img/profiles/avatar-17.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
                                                <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">
                                                <img alt="" src="~/img/profiles/avatar-13.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
                                                <p class="noti-time"><span class="notification-time">2 days ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>
                <!-- /Notifications -->

                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img src="~/img/profiles/avatar-21.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                        @*<span>Admin</span>*@
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("Profile", "Employee", new { id="default" })">My Profile</a>
                        <a class="dropdown-item" href="settings.html">Settings</a>
                        <a class="dropdown-item" asp-controller="Employee" asp-action="Signout">Logout</a>
                    </div>
                </li>
            </ul>
            <!-- /Header Menu -->
            <!-- Mobile Menu -->
            <div class="dropdown mobile-user-menu">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" asp-controller="Employee" asp-action="Profile">My Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </div>
            <!-- /Mobile Menu -->

        </div>
        <!-- /Header -->
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main</span>
                        </li>
                        <li>
                            <a asp-controller="Dashboard" asp-action="Employee"><i class="la la-dashboard"></i> <span> Dashboard</span></a>

                        </li>
                        <li>
                            <a asp-controller="Dashboard" asp-action="Approval"><i class="la la-dashboard"></i> <span> Approval Board</span></a>

                        </li>

                        <li class="menu-title">
                            <span>Services</span>
                        </li>
                        <li>
                            <a href="#"><i class="la la-rocket"></i> <span> Leave</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a asp-controller="Leave" asp-action="Index">Leaves</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="la la-money"></i> <span> Loan</span><span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a asp-controller="Loan" asp-action="Index">Loan Summary</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="la la-money"></i> <span> Payroll </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="salary.html">Payroll History </a></li>
                                <li><a href="salary-view.html"> Payslip </a></li>
                            </ul>
                        </li>
                        @*<li>
                                <a href="@Url.Action("Profile", "Employee", new { id="default" })"><i class="la la-ticket"></i> <span>Transfer</span></a>
                            </li>*@
                        <li>
                            <a href="#"><i class="la la-briefcase"></i> <span>Disciplinary Action</span><span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a asp-controller="DisciplinaryAction" asp-action="IssueQuery">Issue Query </a></li>
                                <li><a asp-controller="DisciplinaryAction" asp-action="ViewQuery">View Query </a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="la la-ticket"></i> <span>Exit Process</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a asp-controller="ExitProcess" asp-action="Index">Request Exit </a></li>
                                <li><a asp-controller="ExitProcess" asp-action="ApproveRequest">Exit Request Approval </a></li>
                            </ul>
                        </li>

                        <li class="menu-title">
                            <span>Performance</span>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="la la-graduation-cap"></i> <span> Appraisal </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a asp-controller="Appraisal" asp-action="Index"> Self Appraisal </a></li>
                                <li><a href="performance.html"> Performance Review </a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="la la-edit"></i> <span> Training </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="training.html"> Training List </a></li>
                                <li><a href="trainers.html"> Trainers</a></li>
                                <li><a href="training-type.html"> Training Type </a></li>
                            </ul>
                        </li>

                        <li class="menu-title">
                            <span>Administration</span>
                        </li>

                        <li>
                            <a asp-controller="Employee" asp-action="Enroll"><i class="la la-briefcase"></i> <span>Manage Employee </span> </a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="la la-mail-forward"></i> <span> Add Role </span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="la la-mail-forward"></i> <span> Leave Settings </span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Sidebar -->

        <div class="page-wrapper">
            @RenderBody()
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Slimscroll JS -->
    <script src="~/js/jquery.slimscroll.min.js"></script>

    <!-- Slimscroll JS -->
    <script src="~/js/select2.min.js"></script>

    <!-- Datatable JS -->
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>

    <!-- Datetimepicker JS -->
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Chart JS -->
    <script src="~/plugins/morris/morris.min.js"></script>
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/js/chart.js"></script>

    <!-- Tagsinput JS -->
    <script src="~/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>

    <!-- Custom JS -->
    <script src="~/js/app.js"></script>
    <script src="~/js/util.js"></script>

    <!-- Toaster JS -->
    <script src="~/js/toastr.js"></script>

    <!-- Summernote JS -->
    <script src="~/plugins/summernote/dist/summernote-bs4.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
