@model ViewModel.Model.AdminViewModel

@{
    ViewData["Title"] = "SetApprovalPeriod";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}


<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Appraisal Period</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
                <li class="breadcrumb-item active">Appraisal Period</li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>Start Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" id="startperiod" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>End Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" id="endperiod" type="text">
                        </div>
                    </div>
                    <div class="submit-section" onclick="SubmitSubmitAppraisalPeriod()">
                        <div class="btn btn-primary submit-btn">Submit</div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Select Appraisal Period </label>
                                <select class="select" id="appraisalperiodid">
                                    <option value="">Select Period</option>
                                    @foreach (var item in Model.AppraisalPeriod)
                                    {
                                        <option value="@item.Id">  @item.StartDate.ToString("dd MMMM yyyy")  to  @item.EndDate.ToString("dd MMMM yyyy") -  @item.IsActive</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Select Appraisal Period to Active</label>
                                <select class="select" id="status">
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Adjust Start Date <span class="text-danger">*</span></label>
                                <div class="cal-icon">
                                    <input class="form-control datetimepicker" id="startperiodext" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Adjust End Date <span class="text-danger">*</span></label>
                                <div class="cal-icon">
                                    <input class="form-control datetimepicker" id="endperiodext" type="text">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="submit-section" onclick="SubmitUpdateAppraisalPeriod()">
                        <div class="btn btn-primary submit-btn">Reset/Extend/Update Appraisal Period</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

@section Scripts{
    <script type="text/javascript">

        function SubmitSubmitAppraisalPeriod()
        {
            datefrom = $("#startperiod").val();
            dateto = $("#endperiod").val();
            sendAppraisalPeriodForm(datefrom, dateto);
        }
        function sendAppraisalPeriodForm(startdate, enddate) {
            $.ajax({
                url: '@Url.Action("AddAppraisalPeriod", "Admin")',
                type: 'POST',
                dataType: 'json',
                data: { startDate: startdate, endDate: enddate },
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message)
                        location.reload();
                    }
                    else {
                        toastr.error(response ?.message);
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

        function SubmitUpdateAppraisalPeriod()
        {
            periodid = $("#appraisalperiodid").val();
            status = $("#status").val();
            datefrom = $("#startperiodext").val();
            dateto = $("#endperiodext").val();

            updatePeriodForm(periodid, status, datefrom, dateto);
        }
        function updatePeriodForm(periodid, status, startdate, enddate) {
            $.ajax({
                url: '@Url.Action("UpdateAppraisalPeriod", "Admin")',
                type: 'POST',
                dataType: 'json',
                data: { periodid: periodid, status: status, startDate: startdate, endDate: enddate },
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message)
                        location.reload();
                    }
                    else {
                        toastr.error(response ?.message);
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

    </script>
}
