@model ViewModel.Model.DisciplinaryActionViewModel

@{
    ViewData["Title"] = "IssueQuery";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Diciplinary Action</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Services</a></li>
                    <li class="breadcrumb-item active">Issue Query</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="select" id="targetemployeeid" onchange="OnSelect()">
                                        <option value="">Select Employee</option>
                                        @if (Model.Employee != null)
                                        {
                                            @foreach (var item in Model.Employee)
                                            {
                                                <option value="@item.Emp_No">@item.LastName @item.FirstName - @item.Emp_No</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" placeholder="EmployeeId" readonly class="form-control" id="employeeno">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Subject" class="form-control" id="querysubject">
                        </div>
                        <div class="form-group">
                            <textarea rows="5" class="form-control summernote" id="querymessage" placeholder="Enter your message here"></textarea>
                        </div>
                        <div class="form-group mb-0" onclick="SubmitQueryDetail()">
                            <div class="text-center">
                                <div class="btn btn-primary"><span>Send Query</span> <i class="fa fa-send m-l-5"></i></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

@section Scripts{
    <script type="text/javascript">

        var selectedId;
       //on select of unregisterd nam action
        var lowGradeList = JSON.parse('@Json.Serialize(@Model.Employee)');

        function OnSelect() {
            let selectedUser = $("#targetemployeeid option:selected").val();
            lowGradeList.forEach(function (entry) {
               if (entry.emp_No == selectedUser) {
                   $("#employeeno").val(entry.emp_No);
                   selectedId = entry.id;
                }
            });
        }

        function SubmitQueryDetail()
        {
            var targetemployeeid = $("#targetemployeeid").val();
            var querysubject = $("#querysubject").val();
            var querymessage = $("#querymessage").val();

            sendQueryForm(selectedId, targetemployeeid, querysubject, querymessage);
        }

        function sendQueryForm(queriedId, queriedEmpNo, subject, message) {
            $.ajax({
                url: '@Url.Action("AddQuery", "DisciplinaryAction")',
                type: 'POST',
                dataType: 'json',
                data: { queriedId: queriedId, queriedEmpNo: queriedEmpNo, subject: subject, message: message },
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message);
                    }
                    else {
                        toastr.warning(response ?.message);
                    }
                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }
    </script>
}
