@model ViewModel.Model.ExitProcessViewModel

@{
    ViewData["Title"] = "ApproveRequest";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Exit Approval</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Services</a></li>
                    <li class="breadcrumb-item active">Approve Exit Process</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_resignation"><i class="fa fa-plus"></i> Approve Exit</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Employee </th>
                            <th>Department </th>
                            <th>/Location/Designation </th>
                            <th>Reason </th>
                            <th>Notice Date </th>
                            <th>Resignation Date </th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ExitProcessList.Where(x => x.Status == ViewModel.Enumeration.ExitProcessStatusEnum.Pending))
                        {
                            <tr>
                                <td>1</td>
                                <td>
                                    <h2 class="table-avatar blue-link">
                                        <a href="profile.html" class="avatar"><img alt="" src="assets/img/profiles/avatar-02.jpg"></a>
                                        <a href="profile.html">@item.Emp_No -@item.Employee.LastName @item.Employee.FirstName</a>
                                    </h2>
                                </td>
                                @if (item.Employee.Department != null)
                                {
                                    <td>@item.Employee.Department.Descc</td>
                                }
                                else
                                {
                                    <td>Unverified</td>
                                }

                                @if (item.Employee.Unit != null)
                                {
                                    <td>@item.Employee.Location/ @item.Employee.Unit.Descc</td>
                                }
                                else
                                {
                                    <td>Unverified/Unverified</td>
                                }
                                <td>@item.Reason</td>
                                <td>@item.NoticeDate.ToString("dd MMMM yyyy")</td>
                                <td>@item.ExitDate.ToString("dd MMMM yyyy")</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right" id="@item.Id" onclick="OnExitSelect(this.id)">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#add_resignation"><i class="fa fa-pencil m-r-5"></i> Detail</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<!-- Approve Resignation Modal -->
<div id="add_resignation" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Approve Exit/Resignation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Employee <span class="text-danger">*</span></label>
                        <input class="form-control" readonly type="text" id="exitemployee">
                    </div>
                    <div class="form-group">
                        <label>Notice Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input type="text" readonly class="form-control datetimepicker" id="createddate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Exit Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input type="text" readonly class="form-control datetimepicker" id="exitdate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Reason <span class="text-danger">*</span></label>
                        <textarea class="form-control" id="exitreason" readonly rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Department<span class="text-danger">*</span></label>
                        <select class="select" id="clearingdepartment">
                            <option>Select Department</option>
                            @foreach (var item in Model.ClearanceDepartment)
                            {
                                <option value="@item.Id">@item.Descc</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Comment <span class="text-danger">*</span></label>
                        <textarea class="form-control" id="exitcomment" rows="4"></textarea>
                    </div>
                    <div class="submit-section" onclick="ApproveExitRequest()">
                        <div class="btn btn-primary submit-btn">Approve</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Approve Resignation Modal -->

@section Scripts{
    <script type="text/javascript">

        var selectedId;
       //on select of unregisterd nam action
        var exitList = JSON.parse('@Json.Serialize(@Model.ExitProcessList)');

        function OnExitSelect(itemId) {
            exitList.forEach(function (entry) {
               if (entry.id == itemId) {
                   $("#exitemployee").val(entry.employee.lastName + " " + entry.employee.firstName + "-" + entry.employee.emp_No);
                   $("#exitreason").val(entry.reason);
                   $("#createddate").val(entry.noticeDate);
                   $("#exitdate").val(entry.exitDate);
                   selectedId = entry.id;
                }
            });
        }

        function ApproveExitRequest()
        {
            var clearingdepartment = $("#clearingdepartment").val();
            var exitcomment = $("#exitcomment").val();

            submitApproveRequestForm(selectedId, clearingdepartment, exitcomment);
        }

        function submitApproveRequestForm(selectedId, clearingdepartment, exitcomment) {
            $.ajax({
                url: '@Url.Action("ApproveRequestExit", "ExitProcess")',
                type: 'POST',
                dataType: 'json',
                data: { exitId: selectedId, departmentId: clearingdepartment, exitComment: exitcomment },
                success: function (response) {
                    if (response.status) {
                        toastr.success(response?.message)
                        $('#add_resignation').modal('hide');
                        location.reload();
                    }
                    else {
                        toastr.warning(response ?.message);
                    }
                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }
    </script>
}

